<!DOCTYPE html>
<html>
<head>
    <title>Eva</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/dropzone.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
    
    <style>
        .dropzone { border: 2px dashed #0087F7; }
        .ui-loader { display: none; }
        .right { right: 40%; }
        .rotate-45-left { display: inline-block; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
        .rotate-45-right { display: inline-block; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
    </style>
</head>

<body ng-app="evaApp">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#!/controlAngular">Control de Eva</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{'active': $route.current.activetab == 'controlAngular'}"><a href="/#!/controlAngular">Inicio</a></li>
                    <li ng-class="{'active': $route.current.activetab == 'interaccion'}"><a href="/#!/interaccion">Interacción</a></li>
                    <li class="dropdown" ng-class="{'active': $route.current.activetab == 'script'}">
                        <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false" target="_blank">
                            Script
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="drop2">
                            <li><a href="/#!/script">Scripts</a></li>
                            <li><a href="/#!/scriptdata">Datos</a></li>
                            <!-- <li role="separator" class="divider"></li>
                                              <li><a href="#">Separated link</a></li> -->
                        </ul>
                    </li>
                    <li ng-class="{'active': $route.current.activetab == 'audio'}"><a href="/#!/audio">Audios</a></li>
                    <li class="dropdown" ng-class="{'active': $route.current.activetab == 'lang'}">
                        <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false" target="_blank">
                            Idioma
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="drop2">
                            <li><a href="/#!/voice">Voz (IBM Watson)</a></li>
                            <li role="separator" class="divider"></li>
                            <!-- <li><a href="#">Separated link</a></li> -->
                            <li><a href="/#!/listen">Escucha (Google y Watson)</a></li>
                            
                        </ul>
                    </li>
                    <li ng-class="{'active': $route.current.activetab == 'led'}"><a href="/#!/led">Led</a></li>
                    <li ng-class="{'active': $route.current.activetab == 'mov'}"><a href="/#!/mov">Movimiento</a></li>
                    <li ng-class="{'active': $route.current.activetab == 'woo'}"><a href="/#!/woo">Mago de Oz</a></li>
                    <li class="dropdown" ng-class="{'active': $route.current.activetab == 'config'}">
                        <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false" target="_blank">
                            Configuraciones
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="drop2">
                            <li><a href="/#!/config">Robot Social</a></li>
                            <li><a href="/#!/cloud">Servicios</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <section id="content" ng-view>
      
    </section>

    <div class="container">
        <footer>
            <p>&copy; 2021 CICESE</p>
        </footer>
    </div>
    <script src="/js/jquery-1.11.3.min.js"></script>

    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
    
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-notify.min.js"></script>
    <script src="/js/notify.min.js"></script>
    <script src="/js/datatable.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/angular-drag-and-drop-lists.min.js"></script>
    <script type="text/javascript" src="/js/dropzone.min.js"></script>
    <script type="text/javascript" src="/js/go.js"></script>
    <script type="text/javascript" src="/js/filesaver.min.js"></script>

    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/controlAngular.js"></script>
    <script type="text/javascript" src="/js/controllers/led.js"></script>
    <script type="text/javascript" src="/js/controllers/mov.js"></script>
    <script type="text/javascript" src="/js/controllers/audio.js"></script>
    <script type="text/javascript" src="/js/controllers/voice.js"></script>
    <script type="text/javascript" src="/js/controllers/listen.js"></script>
    <script type="text/javascript" src="/js/controllers/script.js"></script>
    <script type="text/javascript" src="/js/controllers/scriptdata.js"></script>
    <script type="text/javascript" src="/js/controllers/interaccion.js"></script>
    <script type="text/javascript" src="/js/controllers/woo.js"></script>
    <script type="text/javascript" src="/js/controllers/cloud.js"></script>
    <script type="text/javascript" src="/js/controllers/config.js"></script>
    <script type="text/javascript" src="/js/diagrama-min.js"></script>
</body>

</html>