<!DOCTYPE html>
<html>

<head>
    <title>Eva</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/fontawesome/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/dropzone.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body ng-app="evaApp">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" ng-controller="menu">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" ng-class="{'active': $route.current.activetab == 'controlAngular'}">
                    <a class="nav-link" href="/#!/controlAngular">{{'TOOLBAR.INI' | translate}}</a>
                </li>
                <li class="nav-item" ng-class="{'active': $route.current.activetab == 'interaccion'}">
                    <a class="nav-link" href="/#!/interaccion">{{'TOOLBAR.INTERACTION' | translate}}</a>
                </li>
                <li class="nav-item dropdown" ng-class="{'active': $route.current.activetab == 'script'}">
                    <a id="drop2" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false" target="_blank">{{'TOOLBAR.SCRIPT' | translate}}<span
                            class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="drop2">
                        <li><a class="dropdown-item" href="/#!/script">{{'TOOLBAR.SCRIPTS' | translate}}</a></li>
                        <li><a class="dropdown-item" href="/#!/scriptdata">{{'TOOLBAR.DATA' | translate}}</a></li>
                    </ul>
                </li>
                <li class="nav-item" ng-class="{'active': $route.current.activetab == 'audio'}">
                    <a class="nav-link" href="/#!/audio">{{'TOOLBAR.AUDIOS' | translate}}</a>
                </li>
                <li class="nav-item" ng-class="{'active': $route.current.activetab == 'images'}">
                    <a class="nav-link" href="/#!/images">{{'TOOLBAR.IMGS' | translate}}</a>
                </li>
                <li class="nav-item dropdown" ng-class="{'active': $route.current.activetab == 'lang'}">
                    <a id="drop2" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false" target="_blank">
                        {{'TOOLBAR.LANGUAGE' | translate}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="drop2">
                        <li><a class="dropdown-item" href="/#!/voice">{{'TOOLBAR.VOICE' | translate}} (IBM Watson)</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <!-- <li><a href="#">Separated link</a></li> -->
                        <li><a class="dropdown-item" href="/#!/listen">{{'TOOLBAR.LISTEN' | translate}} (Google y
                                Watson)</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown" ng-class="{'active': $route.current.activetab == 'led'}">
                    <a id="drop2" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false" target="_blank">
                        {{'TOOLBAR.LED' | translate}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="drop2">
                        <li><a class="dropdown-item" href="/#!/led">{{'TOOLBAR.LED' | translate}}</a></li>
                        <li><a class="dropdown-item" href="/#!/lededitor">Editor</a></li>
                    </ul>
                </li>

                <li class="nav-item" ng-class="{'active': $route.current.activetab == 'mov'}">
                    <a class="nav-link" href="/#!/mov">{{'TOOLBAR.MOVEMENT' | translate}}</a>
                </li>
                <li class="nav-item" ng-class="{'active': $route.current.activetab == 'woo'}">
                    <a class="nav-link" href="/#!/woo">{{'TOOLBAR.WOO' | translate}}</a>
                </li>
                <li class="nav-item dropdown" ng-class="{'active': $route.current.activetab == 'config'}">
                    <a id="drop2" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false" target="_blank">
                        {{'TOOLBAR.CONFIG' | translate}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="drop2">
                        <li><a class="dropdown-item" href="/#!/config">{{'TOOLBAR.SOCIAL_ROBOT' | translate}}</a></li>
                        <li><a class="dropdown-item" href="/#!/cloud">{{'TOOLBAR.SERVICES' | translate}}</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a id="drop2" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false" target="_blank">
                        {{'LANG.MENU' | translate}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="drop2">
                        <li><a class="dropdown-item" ng-click="changeLanguage('es')"
                                onmouseover="this.style.cursor='pointer';">&#127466&#127480
                                {{'LANG.ES' | translate}}</a></li>
                        <li><a class="dropdown-item" ng-click="changeLanguage('en')"
                                onmouseover="this.style.cursor='pointer';">&#127482&#127480
                                {{'LANG.EN' | translate}}</a></li>
                        <li><a class="dropdown-item" ng-click="changeLanguage('pt')"
                                onmouseover="this.style.cursor='pointer';">&#127463&#127479
                                {{'LANG.PT' | translate}}</a></li>
                        <li><a class="dropdown-item" ng-click="changeLanguage('fr')"
                                onmouseover="this.style.cursor='pointer';">&#127467&#127479
                                {{'LANG.FR' | translate}}</a></li>
                        <li><a class="dropdown-item" ng-click="changeLanguage('it')"
                                onmouseover="this.style.cursor='pointer';">&#127470&#127481
                                {{'LANG.IT' | translate}}</a></li>
                        <li><a class="dropdown-item" ng-click="changeLanguage('ja')"
                                onmouseover="this.style.cursor='pointer';">&#127471&#127477
                                {{'LANG.JA' | translate}}</a></li>
                    </ul>
                </li>
            </ul>
            <div ng-if="loggedIn" class="navbar-collapse collapse w-25 order-0 dual-collapse2">
                <div class="navbar-nav ml-auto" style="color: rgba(255,255,255,.5);">
                    {{'TOOLBAR.WELCOME' | translate}}: &nbsp;{{ user }}&nbsp;
                </div>
            </div>
            <a class=" btn btn-outline-success my-2 my-sm-0" ng-click="login()">
                <span ng-show="!loggedIn"><i class="fa-solid fa-door-open"></i></span>
                <span ng-show="loggedIn"><i class="fa-solid fa-door-closed"></i></span>
            </a>
        </div>
    </nav>

    <section id="content" ng-view>

    </section>

    <div class="container">
        <footer>
            <p>&copy; 2023 CICESE</p>
        </footer>
    </div>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/js/angular/angular.min.js"></script>
    <script src="/js/angular/angular-route.min.js"></script>
    <script src="/js/angular/angular-sanitize.min.js"></script>
    <script src="/js/angular/angular-translate.min.js"></script>
    <script src="/js/angular/angular-translate-loader-static-files.min.js"></script>

    <script src="/js/bootstrap-notify.min.js"></script>
    <script src="/js/notify.min.js"></script>
    <script src="/js/datatable.min.js"></script>
    <script src="/js/ajax.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>var socket = io.connect(`http://${window.location.host}`, { forceNew: true });</script>
    <script type="text/javascript" src="/js/angular/angular-drag-and-drop-lists.min.js"></script>
    <script type="text/javascript" src="/js/dropzone.min.js"></script>
    <script type="text/javascript" src="/js/filesaver.min.js"></script>

    <script type="text/javascript" src="/js/i18n/lang-es.js"></script>
    <script type="text/javascript" src="/js/i18n/lang-en.js"></script>
    <script type="text/javascript" src="/js/i18n/lang-pt.js"></script>
    <script type="text/javascript" src="/js/i18n/lang-fr.js"></script>
    <script type="text/javascript" src="/js/i18n/lang-it.js"></script>
    <script type="text/javascript" src="/js/i18n/lang-ja.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/dev.js"></script>
    <script type="text/javascript" src="/js/controllers/controlAngular.js"></script>
    <script type="text/javascript" src="/js/controllers/audio.js"></script>
    <script type="text/javascript" src="/js/controllers/cloud.js"></script>
    <script type="text/javascript" src="/js/controllers/config.js"></script>
    <script type="text/javascript" src="/js/controllers/images.js"></script>
    <script type="text/javascript" src="/js/controllers/interaccion.js"></script>
    <script type="text/javascript" src="/js/controllers/led.js"></script>
    <script type="text/javascript" src="/js/controllers/lededitor.js"></script>
    <script type="text/javascript" src="/js/controllers/listen.js"></script>
    <script type="text/javascript" src="/js/controllers/mov.js"></script>
    <script type="text/javascript" src="/js/controllers/script.js"></script>
    <script type="text/javascript" src="/js/controllers/scriptdata.js"></script>
    <script type="text/javascript" src="/js/controllers/voice.js"></script>
    <script type="text/javascript" src="/js/controllers/woo.js"></script>
    <script type="text/javascript" src="/js/blockly/blockly.min.js"></script>
    <script type="text/javascript" src="/js/blockly/dialogflow.js"></script>
    <script type="text/javascript" src="/js/blockly/emotions.js"></script>
    <script type="text/javascript" src="/js/blockly/int.js"></script>
    <script type="text/javascript" src="/js/blockly/led.js"></script>
    <script type="text/javascript" src="/js/blockly/listen.js"></script>
    <script type="text/javascript" src="/js/blockly/mov.js"></script>
    <script type="text/javascript" src="/js/blockly/record.js"></script>
    <script type="text/javascript" src="/js/blockly/script.js"></script>
    <script type="text/javascript" src="/js/blockly/sound.js"></script>
    <script type="text/javascript" src="/js/blockly/speak.js"></script>
    <script type="text/javascript" src="/js/blockly/voice.js"></script>
    <script type="text/javascript" src="/js/blockly/wait.js"></script>
    <script type="text/javascript" src="/js/blockly/image.js"></script>
    <script type="text/javascript" src="/js/xml2json.js"></script>
</body>

</html>