<!DOCTYPE html>
<html ng-app="evaApp">

<head>
  <title>Interacciones</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <style>
    .ui-loader {
      display: none;
    }

    .modal {
      right: 40%;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Control de Eva</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class=""><a href="/controlAngular">Inicio</a></li>
          <li class="active"><a href="/interaccion">Interacción</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container" ng-controller="interaccion">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bgm-bluegray">
            <h2>Listado de Interacciones <small></small></h2>
          </div>
          <div class="card-body table-responsive">
            <table class="table" id="data-table-basic">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th colspan="2">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="l in listado">
                  <td>{{ l.nombre }}</td>
                  <td><span class="btn btn-default" ng-click="update(l)"><i class="fa fa-edit fa-sm"></i></span></td>
                  <td><span class="btn btn-default" ng-click="delete(l._id)"><i class="fa fa-trash fa-sm"></i></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card z-depth-1">
          <div class="form-horizontal" role="form">
            <div class="card-header bgm-bluegray">
              <h2>{{ accion }} Interacci&oacute;n <small></small></h2>
            </div>
            <div class="card-body card-padding">
              <div class="form-group">
                <label class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" ng-model="nombre" placeholder="Nombre">
                </div>
              </div>
              <div class="col-sm-offset-2">
                <div id="myDiagramDiv" style="border: solid 1px gray; border-radius: 1%; width:625px; height:400px">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="button" ng-show="icon" class="btn btn-primary btn-sm"
                    ng-click="create()">Guardar</button>
                    <button type="button" ng-show="!icon" class="btn btn-primary btn-sm"
                    ng-click="updatesend()">Actualizar</button>
                  <button type="button" ng-show="!icon" class="btn btn-primary btn-sm"
                    ng-click="updatesendx()">Actualizar y Terminar</button>
                  <button type="button" class="btn btn-primary btn-sm" ng-click="actualizar()">Refrescar</button>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#myModal">Emoci&oacute;n</button>
                  <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#myModalSpeak">Hablar</button>
                  <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#myModalListen">Escuchar</button>
                  <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#myModalWait">Esperar</button>
                  <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#myModalFor">Ciclo</button>
                  <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#myModalIf">Condici&oacute;n</button>
                </div>
              </div>

              <!-- Modal Emocion -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                          aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Agregar Emoci&oacute;n</h4>
                    </div>
                    <div class="modal-body">
                      <div ng-show="!!node">
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Grupo</label>
                          <div class="col-sm-10">
                            <select name="emocion" id="" ng-model="group" class="form-control">
                              <option value="" selected>Ninguno</option>
                              <option ng-repeat="item in node" ng-show="item.isGroup" value="{{item.key}}">
                                {{ item.name }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Anterior</label>
                          <div class="col-sm-10">
                            <select name="emocion" id="" ng-model="link" class="form-control">
                              <option value="" selected>Ninguno</option>
                              <option ng-repeat="item in node" value="{{item.key}}">{{ item.name }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Emoci&oacute;n</label>
                        <div class="col-sm-10">
                          <select name="emocion" id="" ng-model="emocion" class="form-control">
                            <option value="ini">Neutral</option>
                            <option value="joy">Alegr&iacute;a</option>
                            <option value="surprised">Sorpresa</option>
                            <option value="sad">Tristeza</option>
                            <option value="anger">Ira</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Nivel</label>
                        <div class="col-sm-10">
                          <select name="nivel" id="" ng-model="nivel" class="form-control">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Velocidad</label>
                        <div class="col-sm-10">
                          <input type="number" min="0" class="form-control input-sm" ng-model="velocidad"
                            placeholder="Velocidad">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" ng-click="setemocion()" class="btn btn-primary">Salvar</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal Emocion -->

              <!-- Modal Hablar -->
              <div class="modal fade" id="myModalSpeak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                          aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Agregar Dialogo</h4>
                    </div>
                    <div class="modal-body">
                      <div ng-show="!!node">
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Grupo</label>
                          <div class="col-sm-10">
                            <select name="emocion" id="" ng-model="group" class="form-control">
                              <option value="" selected>Ninguno</option>
                              <option ng-repeat="item in node" ng-show="item.isGroup" value="{{item.key}}">
                                {{ item.name }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Anterior</label>
                          <div class="col-sm-10">
                            <select name="emocion" id="" ng-model="link" class="form-control">
                              <option value="" selected>Ninguno</option>
                              <option ng-repeat="item in node" value="{{item.key}}">{{ item.name }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Di&aacute;logo</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control input-sm" ng-model="texto" placeholder="Texto a decir">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" ng-click="setspeak()" class="btn btn-primary">Salvar</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal Hablar -->

              <!-- Modal Escuchar -->
              <div class="modal fade" id="myModalListen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                          aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Escuchar</h4>
                    </div>
                    <div class="modal-body">
                      <div ng-show="!!node">
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Grupo</label>
                          <div class="col-sm-10">
                            <select name="emocion" id="" ng-model="group" class="form-control">
                              <option value="" selected>Ninguno</option>
                              <option ng-repeat="item in node" ng-show="item.isGroup" value="{{item.key}}">
                                {{ item.name }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Anterior</label>
                          <div class="col-sm-10">
                            <select name="emocion" id="" ng-model="link" class="form-control">
                              <option value="" selected>Ninguno</option>
                              <option ng-repeat="item in node" value="{{item.key}}">{{ item.name }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" ng-click="setlisten()" class="btn btn-primary">Salvar</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal Escuchar -->

              <!-- Modal Tiempo -->
              <div class="modal fade" id="myModalWait" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                          aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Tiempo de espera</h4>
                    </div>
                    <div class="modal-body">
                      <div ng-show="!!node">
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Grupo</label>
                          <div class="col-sm-10">
                            <select name="emocion" id="" ng-model="group" class="form-control">
                              <option value="" selected>Ninguno</option>
                              <option ng-repeat="item in node" ng-show="item.isGroup" value="{{item.key}}">
                                {{ item.name }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Anterior</label>
                          <div class="col-sm-10">
                            <select name="emocion" id="" ng-model="link" class="form-control">
                              <option value="" selected>Ninguno</option>
                              <option ng-repeat="item in node" value="{{item.key}}">{{ item.name }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Tiempo (ms)</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control input-sm" ng-model="time"
                            placeholder="Tiempo a esperar en ms">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" ng-click="setsleep()" class="btn btn-primary">Salvar</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal Tiempo -->

              <!-- Modal Ciclo -->
              <div class="modal fade" id="myModalFor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                          aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Iteraciones</h4>
                    </div>
                    <div class="modal-body">
                      <div ng-show="!!node">
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Grupo</label>
                          <div class="col-sm-10">
                            <select name="emocion" id="" ng-model="group" class="form-control">
                              <option value="" selected>Ninguno</option>
                              <option ng-repeat="item in node" ng-show="item.isGroup" value="{{item.key}}">
                                {{ item.name }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Anterior</label>
                          <div class="col-sm-10">
                            <select name="emocion" id="" ng-model="link" class="form-control">
                              <option value="" selected>Ninguno</option>
                              <option ng-repeat="item in node" value="{{item.key}}">{{ item.name }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Iteraciones</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control input-sm" ng-model="it"
                            placeholder="Cantidad de iteraciones">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" ng-click="setfor()" class="btn btn-primary">Salvar</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal Ciclo -->

              <!-- Modal Condicion -->
              <div class="modal fade" id="myModalIf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                          aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Agregar Condici&oacute;n</h4>
                    </div>
                    <div class="modal-body">
                      <div ng-show="!!node">
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Grupo</label>
                          <div class="col-sm-10">
                            <select name="emocion" id="" ng-model="group" class="form-control">
                              <option value="" selected>Ninguno</option>
                              <option ng-repeat="item in node" ng-show="item.isGroup" value="{{item.key}}">
                                {{ item.name }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Anterior</label>
                          <div class="col-sm-10">
                            <select name="emocion" id="" ng-model="link" class="form-control">
                              <option value="" selected>Ninguno</option>
                              <option ng-repeat="item in node" value="{{item.key}}">{{ item.name }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Condici&oacute;n</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control input-sm" ng-model="texto" placeholder="Condición">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" ng-click="setif()" class="btn btn-primary">Salvar</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal Condicion -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <footer>
      <p>&copy; 2020 CICESE</p>
    </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script type="text/javascript" src="/lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
  <script src="/javascripts/controllers/interaccion.js"></script>
  <script src="/javascripts/go.js"></script>
  <script>

    var myDiagram;
    var id = 0;
    var node = [];
    var link = [];

    function init() {
      var $ = go.GraphObject.make;  // for conciseness in defining templates

      myDiagram = $(go.Diagram, "myDiagramDiv",  // create a Diagram for the DIV HTML element
        {
          "undoManager.isEnabled": true,
          //layout: $(go.TreeLayout)
          //layout: $(go.LayeredDigraphLayout)
          layout: $(go.TreeLayout, { angle: 90, sorting: go.TreeLayout.SortingAscending })
        });

      // define a simple Node template
      myDiagram.nodeTemplate =
        $(go.Node, "Auto",  // the Shape will go around the TextBlock
          $(go.Shape, "RoundedRectangle", { strokeWidth: 0, fill: "white" },
            {
              portId: "", cursor: "pointer",
              fromLinkable: true, fromLinkableSelfNode: true, fromLinkableDuplicates: true,
              toLinkable: true, toLinkableSelfNode: true, toLinkableDuplicates: true
            },
            // Shape.fill is bound to Node.data.color
            new go.Binding("fill", "color")),
          $(go.TextBlock,
            { margin: 8, font: "bold 14px sans-serif", stroke: '#333' }, // Specify a margin to add some room around the text
            // TextBlock.text is bound to Node.data.key
            new go.Binding("text", "name"))
        );

      // but use the default Link template, by not setting Diagram.linkTemplate
      myDiagram.linkTemplate =
        $(go.Link,
          { toShortLength: 3, relinkableFrom: true, relinkableTo: true },  // allow the user to relink existing links
          $(go.Shape,
            { strokeWidth: 2 },
            new go.Binding("stroke", "color")),
          $(go.Shape,
            { toArrow: "Standard", stroke: null },
            new go.Binding("fill", "color"))
        );
      //-------------------------------------------------------------------------------------------------------------------------------
      // Define the appearance and behavior for Groups:
      function groupInfo(adornment) {  // takes the tooltip or context menu, not a group node data object
        var g = adornment.adornedPart;  // get the Group that the tooltip adorns
        var mems = g.memberParts.count;
        var links = 0;
        g.memberParts.each(function(part) {
          if (part instanceof go.Link) links++;
        });
        return "Ciclo: " + g.data.name + "\n" + mems + " acciones y " + links + " enlaces";
      }
      // Groups consist of a title in the color given by the group node data
      // above a translucent gray rectangle surrounding the member parts
      myDiagram.groupTemplate =
        $(go.Group, "Vertical",
          {
            selectionObjectName: "PANEL",  // selection handle goes around shape, not label
            ungroupable: true  // enable Ctrl-Shift-G to ungroup a selected Group
          },
          $(go.TextBlock,
            {
              alignment: go.Spot.Left,
              font: "bold 19px sans-serif",
              isMultiline: false,  // don't allow newlines in text
              editable: true  // allow in-place editing by user
            },
            new go.Binding("text", "name").makeTwoWay(),
            new go.Binding("stroke", "color")),
          $(go.Panel, "Auto",
            { name: "PANEL" },
            $(go.Shape, "Rectangle",  // the rectangular shape around the members
              {
                fill: "rgba(0,0,0,0)", stroke: "gray", strokeWidth: 3,
                portId: "", cursor: "pointer",  // the Shape is the port, not the whole Node
                fromLinkable: true, fromLinkableSelfNode: true, fromLinkableDuplicates: true,
                toLinkable: true, toLinkableSelfNode: true, toLinkableDuplicates: true
              }),
            $(go.Placeholder, { margin: 10, background: "transparent" })  // represents where the members are
          ),
          { // this tooltip Adornment is shared by all groups
            toolTip:
              $("ToolTip",
                $(go.TextBlock, { margin: 4 },
                  // bind to tooltip, not to Group.data, to allow access to Group properties
                  new go.Binding("text", "", groupInfo).ofObject())
              )
          }
        );
      // provide a tooltip for the background of the Diagram, when not over any Part ------------------------------------------------
      function diagramInfo(model) {  // Tooltip info for the diagram's model
        return "Diagrama:\n" + model.nodeDataArray.length + " nodos, " + model.linkDataArray.length + " enlaces";
      }

      myDiagram.toolTip =
        $("ToolTip",
          $(go.TextBlock, { margin: 4 },
            new go.Binding("text", "", diagramInfo))
        );
      // ----------------------------------------------------------------------------------------------------------------------------

      // create the model data that will be represented by Nodes and Links
      myDiagram.model = new go.GraphLinksModel(node, link);
    }

    function reload() {
      myDiagram.model = new go.GraphLinksModel(node, link);
    }

    init();
  </script>
</body>

</html>