<!DOCTYPE html>
<html ng-app="evaApp">

<head>
  <title>Interacciones</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <style>
    .ui-loader {
      display: none;
    }

    .modal {
      right: 40%;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Control de Eva</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class=""><a href="/controlAngular">Inicio</a></li>
          <li class="active"><a href="/interaccion">Interacción</a></li>
          <li class="dropdown">
            <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Script
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="drop2">
              <li><a href="/script">Scripts</a></li>
              <li><a href="/scriptdata">Datos</a></li>
              <!-- <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li> -->
            </ul>
          </li>
          <li class=""><a href="/audio">Audios</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container" ng-controller="interaccion">
    <div class="row">
      <div class="col-md-4">
        <br>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a id="inicio" href="#home" aria-controls="home" role="tab" data-toggle="tab">Listado de Interacciones</a></li>
          <li role="presentation" ng-show="node.length > 0"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Nodos</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
            <div class="card-body table-responsive">
              <table class="table" id="data-table-basic">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th colspan="2">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="l in listado">
                    <td>{{ l.nombre }}</td>
                    <td><span class="btn btn-default" ng-click="unified(l._id)"><i class="fa fa-expand fa-sm"></i></span>
                    </td>
                    <td><span class="btn btn-default" ng-click="update(l)"><i class="fa fa-edit fa-sm"></i></span></td>
                    <td><span class="btn btn-default" ng-click="delete(l._id)"><i class="fa fa-trash fa-sm"></i></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="button" class="btn btn-primary" ng-click="add()">Agregar Interaccion</button>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="profile">
            <div class="card-body table-responsive" style="overflow-y:scroll; height: 575px">
              <table class="table" id="data-table-basic">
                <thead>
                  <tr>
                    <th>Nodo</th>
                    <th>Tipo</th>
                    <th colspan="2">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="l in node">
                    <td>{{ l.name }}</td>
                    <td>{{ l.type }}</td>
                    <td><span class="btn btn-default" ng-show="l.type !== 'listen'" ng-click="updatenode(l)"><i class="fa fa-edit fa-sm"></i></span></td>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <div class="card z-depth-1" >
          <div class="form-horizontal" role="form">
            <div class="card-header bgm-bluegray">
              <h2>{{ accion }} Interacci&oacute;n <small></small></h2>
            </div>
            <div class="card-body card-padding">
              <div class="form-group">
                <label class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" ng-model="nombre" placeholder="Nombre">
                </div>
              </div>
              <div class="col-sm-offset-2">
                <div id="myDiagramDiv" style="border: solid 1px gray; border-radius: 1%; width:625px; height:400px">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="button" ng-show="icon" class="btn btn-primary btn-sm"
                    ng-click="create()">Guardar</button>
                  <button type="button" ng-show="!icon" class="btn btn-primary btn-sm"
                    ng-click="updatesend()">Actualizar</button>
                  <button type="button" ng-show="!icon" class="btn btn-primary btn-sm"
                    ng-click="updatesendx()">Actualizar y Terminar</button>
                  <button type="button" class="btn btn-primary btn-sm" ng-click="actualizar()">Refrescar</button>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" ng-click="showmodal(1)">Emoci&oacute;n</button>
                  <button type="button" class="btn btn-primary" ng-click="showmodal(2)">Hablar</button>
                  <button type="button" class="btn btn-primary" ng-click="showmodal(3)">Escuchar</button>
                  <button type="button" class="btn btn-primary" ng-click="showmodal(4)">Esperar</button>
                  <button type="button" class="btn btn-primary" ng-click="showmodal(5)">Ciclo</button>
                  <button type="button" class="btn btn-primary" ng-click="showmodal(6)">Condici&oacute;n</button>
                  <button type="button" class="btn btn-primary" ng-click="showmodal(7)">Movimiento</button>
                  <button type="button" class="btn btn-primary" ng-click="showmodal(8)">Interacci&oacute;n</button>
                  <button type="button" class="btn btn-primary" ng-click="showmodal(9)">Script</button>
                  <button type="button" class="btn btn-primary" ng-click="showmodal(10)">Audio</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Agregar {{ ModalName }}</h4>
            </div>
            <div class="modal-body">
              <div class="form-horizontal" role="form">
                <div class="form-group" ng-show="node.length > 0">
                  <label class="col-sm-2 control-label">Grupo</label>
                  <div class="col-sm-10">
                    <select name="group" id="" ng-model="group" class="form-control">
                      <option value="" selected>Ninguno</option>
                      <option ng-repeat="item in node" ng-show="item.isGroup" value="{{item.key}}">
                        {{ item.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group" ng-show="node.length > 0 && key == 0">
                  <label class="col-sm-2 control-label">Anterior</label>
                  <div class="col-sm-10">
                    <select name="link" id="" ng-model="link" class="form-control">
                      <option value="" selected>Ninguno</option>
                      <option ng-repeat="item in node" value="{{item.key}}">{{ item.name }}</option>
                    </select>
                  </div>
                </div>
              <!-- Modal Emocion -->
              <div class="form-group" ng-show="modal == 1">
                <label class="col-sm-2 control-label">Emoci&oacute;n</label>
                <div class="col-sm-10">
                  <select name="emocion" id="" ng-model="emocion" class="form-control">
                    <option value="ini">Neutral</option>
                    <option value="joy">Alegr&iacute;a</option>
                    <option value="surprised">Sorpresa</option>
                    <option value="sad">Tristeza</option>
                    <option value="anger">Ira</option>
                  </select>
                </div>
              </div>
              <div class="form-group" ng-show="modal == 1">
                <label class="col-sm-2 control-label">Movimiento</label>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-control" ng-model="nivel" name="nivel" id="nivel" />
                </div>
              </div>
              <div class="form-group" ng-show="modal == 1">
                <label class="col-sm-2 control-label">Velocidad</label>
                <div class="col-sm-10">
                  <input type="number" min="0" class="form-control input-sm" ng-model="velocidad"
                    placeholder="Velocidad">
                </div>
              </div>
              <!-- Modal Emocion -->

              <!-- Modal Hablar -->
              <div class="form-group" ng-show="modal == 2">
                <label class="col-sm-2 control-label">Di&aacute;logo</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" ng-model="texto" placeholder="Texto a decir">
                </div>
              </div>
              <!-- Modal Hablar -->

              <!-- Modal Escuchar -->
              <!-- Modal Escuchar -->

              <!-- Modal Tiempo -->
              <div class="form-group" ng-show="modal == 4">
                <label class="col-sm-2 control-label">Tiempo (ms)</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control input-sm" ng-model="time"
                    placeholder="Tiempo a esperar en ms">
                </div>
              </div>
              <!-- Modal Tiempo -->

              <!-- Modal Ciclo -->
              <div class="form-group" ng-show="modal == 5">
                <label class="col-sm-2 control-label">Iteraciones</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control input-sm" ng-model="it"
                    placeholder="Cantidad de iteraciones">
                </div>
              </div>
              <!-- Modal Ciclo -->

              <!-- Modal Condicion -->
              <div class="form-group" ng-show="modal == 6">
                <label class="col-sm-2 control-label">Condici&oacute;n</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" ng-model="texto" placeholder="Condición">
                </div>
              </div>
              <!-- Modal Condicion -->

              <!-- Modal Movimiento -->
              <div class="form-group" ng-show="modal == 7">
                <label class="col-sm-2 control-label">Movimiento</label>
                <div class="col-sm-10">
                  <select name="nivel" id="" ng-model="movement" class="form-control">
                    <option value="n">Si</option>
                    <option value="s">No</option>
                    <option value="c">Centrar</option>
                    <option value="r">Derecha</option>
                    <option value="l">Izquierda</option>
                    <option value="u">Arriba</option>
                    <option value="d">Abajo</option>
                    <option value="a">Ira</option>
                  </select>
                </div>
              </div>
              <!-- Modal Movimiento -->

              <!-- Modal Interaccion -->
              <div class="form-group" ng-show="modal == 8">
                <label class="col-sm-2 control-label">Interacci&oacute;n</label>
                <div class="col-sm-10">
                  <select name="int" id="" ng-model="int" class="form-control">
                    <option value="0">Obtener Nombre</option>
                    <option value="1">Ultim&aacute;tum</option>
                    <option value="2">Coches Aut&oacute;nomos</option>
                    <option value="3">Preguntas y Respuestas</option>
                    <option value="4">Pl&aacute;tica</option>
                    <option ng-repeat="i in listado" value="{{i._id}}">{{ i.nombre }}</option>
                  </select>
                </div>
              </div>
              <!-- Modal Interaccion -->

              <!-- Modal Script -->
              <div class="form-group" ng-show="modal == 9">
                <label class="col-sm-2 control-label">Script</label>
                <div class="col-sm-10">
                  <select name="emocion" id="" ng-model="thescript" class="form-control">
                    <option value="" selected>Ninguno</option>
                    <option ng-repeat="item in slistado" value="{{item._id}}">{{ item.nombre }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group" ng-show="modal == 9">
                <label class="col-sm-2 control-label">Aleatorio</label>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-control" ng-model="rs" name="rs" id="rs" />
                </div>
              </div>
              <!-- Modal Script -->

              <!-- Modal Script -->
              <div class="form-group" ng-show="modal == 10">
                <label class="col-sm-2 control-label">Audio</label>
                <div class="col-sm-10">
                  <select name="emocion" id="" ng-model="thesound" class="form-control">
                    <option value="" selected>Ninguno</option>
                    <option ng-repeat="item in soundlistado" value="{{item.nombre}}">{{ item.nombre }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group" ng-show="modal == 10">
                <label class="col-sm-2 control-label">Esperar</label>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-control" ng-model="waitsound" name="rs" id="rs" />
                </div>
              </div>
              <!-- Modal Script -->
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" ng-click="setnode()" class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <div class="container">
    <footer>
      <p>&copy; 2020 CICESE</p>
    </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script type="text/javascript" src="/lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
  <script src="/javascripts/controllers/interaccion.js"></script>
  <script src="/javascripts/go.js"></script>
  <script src="/javascripts/diagrama.js"></script>
</body>

</html>