<!DOCTYPE html>
<html ng-app="evaApp">

<head>
    <title>QaA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        .ui-loader {
            display: none;
        }
    </style>
</head>

<body ng-controller="qaa">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Control de Eva</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="/controlAngular">Inicio</a></li>
                    <li class=""><a href="/interaccion">Interacción</a></li>
                    <li class="dropdown">
                        <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">
                            Script
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="drop2">
                            <li><a href="/script">Scripts</a></li>
                            <li><a href="/scriptdata">Datos</a></li>
                            <!-- <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li> -->
                        </ul>
                    </li>
                    <li class=""><a href="/audio">Audios</a></li>
                    <li class="dropdown">
                        <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">
                            I. Manual
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="drop2">
                            <li><a href="/qaa">QaA</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-12">
                <p>{{ pregunta.pregunta }} - {{ pregunta.respuesta }} - {{ temp }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-2">
                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('name')">
                    <i class="fa fa-comments"></i>&nbsp; Nombre</button>
            </div>
            <div class="col-md-offset-2 col-md-2">
                <button class="btn btn-lg btn-warning btn-block" type="button" ng-click="req('listen')">
                    <i class="fa fa-comments"></i>&nbsp; Escuchar</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-offset-2 col-md-2">
                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('gusto')">
                    <i class="fa fa-comments"></i>&nbsp; Gusto</button>
            </div>
            <div class="col-md-offset-2 col-md-3">
                <button class="btn btn-lg btn-warning btn-block" type="button" ng-click="invertemotion()">
                    <i class="fa fa-comments"></i>&nbsp; Emocional: {{ emotional }}</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-offset-2 col-md-2">
                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('exp')">
                    <i class="fa fa-comments"></i>&nbsp; Explicacion</button>
            </div>
            <div class="col-md-offset-2 col-md-4">
                <input type="text" name="" class="form-control" ng-model="stext" id="">
                <button class="btn btn-lg btn-warning btn-block" type="button" ng-click="speak()">
                    <i class="fa fa-comments"></i>&nbsp; Hablar</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-offset-2 col-md-2">
                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="question()">
                    <i class="fa fa-comments"></i>&nbsp; Pregunta</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="answer(2)">
                    <i class="fa fa-comments"></i>&nbsp; Correcta</button>
            </div>
            <div class="col-md-offset-1 col-md-2">
                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="answer(1)">
                    <i class="fa fa-comments"></i>&nbsp; Incompleta</button>
            </div>
            <div class="col-md-offset-1 col-md-2">
                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="answer(0)">
                    <i class="fa fa-comments"></i>&nbsp; Parcialmente</button>
            </div>
            <div class="col-md-offset-1 col-md-2">
                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="answer(-1)">
                    <i class="fa fa-comments"></i>&nbsp; Incorrecta</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-offset-2 col-md-2">
                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="resumen()">
                    <i class="fa fa-comments"></i>&nbsp; Resumen</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-offset-2 col-md-2">
                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('otra')">
                    <i class="fa fa-comments"></i>&nbsp; Otra</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('otrasi')">
                    <i class="fa fa-comments"></i>&nbsp; Si</button>
            </div>
            <div class="col-md-offset-1 col-md-2">
                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('otrano')">
                    <i class="fa fa-comments"></i>&nbsp; No</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-offset-2 col-md-2">
                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('end')">
                    <i class="fa fa-comments"></i>&nbsp; Despedida</button>
            </div>
        </div>
        <br>
        <footer>
            <p>&copy; 2020 CICESE</p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript" src="/lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
    <script src="/javascripts/controllers/qaa.js"></script>
</body>

</html>