<!DOCTYPE html>
<html ng-app="evaApp">

<head>
    <title>Interacciones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        .ui-loader {
            display: none;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Control de Eva</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="/controlAngular">Inicio</a></li>
                    <li class=""><a href="/interaccion">Interacción</a></li>
                    <li class="active"><a href="/script">Scripts</a></li>
                    <li class=""><a href="/audio">Audios</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container" ng-controller="script">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bgm-bluegray">
                        <h2>Listado de Interacciones <small></small></h2>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table" id="data-table-basic">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th colspan="2">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="l in listado">
                                    <td>{{ l.nombre }}</td>
                                    <td>{{ l.data.length }}</td>
                                    <td><span class="btn btn-default" ng-click="update(l)"><i
                                                class="fa fa-edit fa-sm"></i></span></td>
                                    <td><span class="btn btn-default" ng-click="delete(l._id)"><i
                                                class="fa fa-trash fa-sm"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card z-depth-1">
                    <div class="form-horizontal" role="form">
                        <div class="card-body card-padding">    
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#myModal">Agregar Script</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Emocion -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ accion }} Script</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" ng-model="nombre"
                                placeholder="Nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">script</label>
                        <div class="col-sm-10">
                            <textarea name="" class="form-control" id="" cols="100" rows="20" ng-model="data"
                              placeholder="Json"></textarea>
                        </div>
                    </div>
                </div>
                <hr>
                <p>Preparar</p>
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Multilinea</label>
                        <div class="col-sm-1">
                            <input type="checkbox" name="multi" ng-model="multi" id="">
                        </div>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="prepare()">Preparar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-show="icon" ng-click="create()" class="btn btn-primary">Salvar</button>
                    <button type="button" ng-show="!icon" ng-click="updatesend()" class="btn btn-primary">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Emocion -->
    </div>

    <div class="container">
        <footer>
            <p>&copy; 2020 CICESE</p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript" src="/lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
    <script src="/javascripts/controllers/script.js"></script>
</body>

</html>