body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

ul[dnd-list] .dndDraggingSource {
    display: none;
}

ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

.dropzone { border: 2px dashed #0087F7; }
.ui-loader { display: none; }
.right { right: 40%; }
.rotate-45-left { display: inline-block; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.rotate-45-right { display: inline-block; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.emojin { font-size: 30px; cursor: pointer; }