body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

ul[dnd-list] .dndDraggingSource {
    display: none;
}

ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

.dropzone { border: 2px dashed #0087F7; }
.ui-loader { display: none; }
.right { right: 40%; }
.rotate-45-left { display: inline-block; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.rotate-45-right { display: inline-block; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.emojin { font-size: 30px; cursor: pointer; }
.hand { cursor: pointer; }

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout-info {
    border-left-color: #5bc0de;
}

/* ------------------------------------------------------------------ */
/* -------------------Simulador de Matrix Voice---------------------- */
/* ------------------------------------------------------------------ */

.circle-container {
    position: relative;
    width: 24em;
    height: 24em;
    padding: 2.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
    /* border: dashed 1px; */
    border-radius: 50%;
    margin: 1.75em auto 1.75em;
}
.circle-container a {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4em;
    height: 4em;
    margin: -2em; /* 2em = 4em/2 */ /* half the width */
}
.circle-container span {
  display: block;
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: rgba(0, 0, 0, 0.0);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.deg0 {
    -webkit-transform: rotate(9deg) translate(12em);
    -moz-transform: rotate(9deg) translate(12em);
    -ms-transform: rotate(9deg) translate(12em);
    -o-transform: rotate(9deg) translate(12em);
    transform: rotate(9deg) translate(12em);
} /* 12em = half the width of the wrapper */
.deg20 {
    -webkit-transform: rotate(29deg) translate(12em);
    -moz-transform: rotate(29deg) translate(12em);
    -ms-transform: rotate(29deg) translate(12em);
    -o-transform: rotate(29deg) translate(12em);
    transform: rotate(29deg) translate(12em);
}
.deg40 {
    -webkit-transform: rotate(49deg) translate(12em);
    -moz-transform: rotate(49deg) translate(12em);
    -ms-transform: rotate(49deg) translate(12em);
    -o-transform: rotate(49deg) translate(12em);
    transform: rotate(49deg) translate(12em);
}
.deg60 {
    -webkit-transform: rotate(69deg) translate(12em);
    -moz-transform: rotate(69deg) translate(12em);
    -ms-transform: rotate(69deg) translate(12em);
    -o-transform: rotate(69deg) translate(12em);
    transform: rotate(69deg) translate(12em);
}
.deg80 {
    -webkit-transform: rotate(89deg) translate(12em);
    -moz-transform: rotate(89deg) translate(12em);
    -ms-transform: rotate(89deg) translate(12em);
    -o-transform: rotate(89deg) translate(12em);
    transform: rotate(89deg) translate(12em);
}
.deg100 {
    -webkit-transform: rotate(109deg) translate(12em);
    -moz-transform: rotate(109deg) translate(12em);
    -ms-transform: rotate(109deg) translate(12em);
    -o-transform: rotate(109deg) translate(12em);
    transform: rotate(109deg) translate(12em);
}
.deg120 {
    -webkit-transform: rotate(129deg) translate(12em);
    -moz-transform: rotate(129deg) translate(12em);
    -ms-transform: rotate(129deg) translate(12em);
    -o-transform: rotate(129deg) translate(12em);
    transform: rotate(129deg) translate(12em);
}
.deg140 {
    -webkit-transform: rotate(149deg) translate(12em);
    -moz-transform: rotate(149deg) translate(12em);
    -ms-transform: rotate(149deg) translate(12em);
    -o-transform: rotate(149deg) translate(12em);
    transform: rotate(149deg) translate(12em);
}
.deg160 {
    -webkit-transform: rotate(169deg) translate(12em);
    -moz-transform: rotate(169deg) translate(12em);
    -ms-transform: rotate(169deg) translate(12em);
    -o-transform: rotate(169deg) translate(12em);
    transform: rotate(169deg) translate(12em);
}
.deg180 {
    -webkit-transform: rotate(189deg) translate(12em);
    -moz-transform: rotate(189deg) translate(12em);
    -ms-transform: rotate(189deg) translate(12em);
    -o-transform: rotate(189deg) translate(12em);
    transform: rotate(189deg) translate(12em);
}
.deg200 {
    -webkit-transform: rotate(209deg) translate(12em);
    -moz-transform: rotate(209deg) translate(12em);
    -ms-transform: rotate(209deg) translate(12em);
    -o-transform: rotate(209deg) translate(12em);
    transform: rotate(209deg) translate(12em);
}
.deg220 {
    -webkit-transform: rotate(229deg) translate(12em);
    -moz-transform: rotate(229deg) translate(12em);
    -ms-transform: rotate(229deg) translate(12em);
    -o-transform: rotate(229deg) translate(12em);
    transform: rotate(229deg) translate(12em);
}
.deg240 {
    -webkit-transform: rotate(249deg) translate(12em);
    -moz-transform: rotate(249deg) translate(12em);
    -ms-transform: rotate(249deg) translate(12em);
    -o-transform: rotate(249deg) translate(12em);
    transform: rotate(249deg) translate(12em);
}
.deg260 {
    -webkit-transform: rotate(270deg) translate(12em);
    -moz-transform: rotate(270deg) translate(12em);
    -ms-transform: rotate(270deg) translate(12em);
    -o-transform: rotate(270deg) translate(12em);
    transform: rotate(270deg) translate(12em);
}
.deg280 {
    -webkit-transform: rotate(290deg) translate(12em);
    -moz-transform: rotate(290deg) translate(12em);
    -ms-transform: rotate(290deg) translate(12em);
    -o-transform: rotate(290deg) translate(12em);
    transform: rotate(290deg) translate(12em);
}
.deg300 {
    -webkit-transform: rotate(310deg) translate(12em);
    -moz-transform: rotate(310deg) translate(12em);
    -ms-transform: rotate(310deg) translate(12em);
    -o-transform: rotate(310deg) translate(12em);
    transform: rotate(310deg) translate(12em);
}
.deg320 {
    -webkit-transform: rotate(330deg) translate(12em);
    -moz-transform: rotate(330deg) translate(12em);
    -ms-transform: rotate(330deg) translate(12em);
    -o-transform: rotate(330deg) translate(12em);
    transform: rotate(330deg) translate(12em);
}
.deg340 {
    -webkit-transform: rotate(350deg) translate(12em);
    -moz-transform: rotate(350deg) translate(12em);
    -ms-transform: rotate(350deg) translate(12em);
    -o-transform: rotate(350deg) translate(12em);
    transform: rotate(350deg) translate(12em);
}

.bg-img {
    position: absolute;
    width: 31em;
    height: 31em;
    right: -50px;
    bottom: -50px;
    opacity: 0.5;
}