<div class="container" ng-controller="auto">
    <br>
    <div class="row">
        <div class="col-md-12">
            <p>{{ pregunta.pregunta }} - {{ pregunta.respuesta }} - {{ temp }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('hola', 'l')">
                <i class="fa fa-comments"></i>&nbsp; Nombre</button>
        </div>
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-warning btn-block" type="button" ng-click="req('listen')">
                <i class="fa fa-comments"></i>&nbsp; Escuchar</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('gusto')">
                <i class="fa fa-comments"></i>&nbsp; Gusto</button>
        </div>
        <div class="col-md-offset-2 col-md-3">
            <button class="btn btn-lg btn-warning btn-block" type="button" ng-click="invertemotion()">
                <i class="fa fa-comments"></i>&nbsp; Emocional: {{ emotional }}</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="platica('1')">
                <i class="fa fa-comments"></i>&nbsp; Primera Vez</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="platica()">
                <i class="fa fa-comments"></i>&nbsp; Platica</button>
        </div>
        <div class="col-md-offset-2 col-md-4">
            <input type="text" name="" class="form-control" ng-model="stext" id="">
            <button class="btn btn-lg btn-warning btn-block" type="button" ng-click="speak()">
                <i class="fa fa-comments"></i>&nbsp; Hablar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="case('')">
                <i class="fa fa-comments"></i>&nbsp; Caso</button>
        </div>
        <div class="col-md-offset-1 col-md-3">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="case('r')">
                <i class="fa fa-comments"></i>&nbsp; Repetir</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="answer(1)">
                <i class="fa fa-comments"></i>&nbsp; Primera/Seguir</button>
        </div>
        <div class="col-md-offset-1 col-md-3">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="answer(2)">
                <i class="fa fa-comments"></i>&nbsp; Segunda/Girar</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('7', 'l')">
                <i class="fa fa-comments"></i>&nbsp; Comprarias</button>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('end')">
                <i class="fa fa-comments"></i>&nbsp; Despedida</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('bueno')">
                <i class="fa fa-comments"></i>&nbsp; Bueno</button>
        </div>
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('ves')">
                <i class="fa fa-comments"></i>&nbsp; Me Ves</button>
        </div>
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('escuchas')">
                <i class="fa fa-comments"></i>&nbsp; Me Escuchas</button>
        </div>
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('empezar')">
                <i class="fa fa-comments"></i>&nbsp; Empezar</button>
        </div>
    </div>
    <br>
</div>