<div class="container" ng-controller="ControlEvaController as controlList">
  <div class="row">
    <div class="alert alert-danger alert-dismissible" role="alert" ng-repeat="error in errores">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      <strong>{{'CONTROL.WARNING' | translate}}!</strong> {{error.error}} <strong>{{error.query}}</strong>.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a role="button" class="btn btn-info btn-lg col-md-1 col-md-offset-11 col-xs-4 col-xs-offset-8"
        data-toggle="collapse" data-target="#panelLogs" aria-expanded="false" aria-controls="panelLogs"
        ng-click="mostrarLog=!mostrarLog">Logs&nbsp;<i ng-show="!mostrarLog" class="fa fa-chevron-circle-down fa-lg"
          aria-hidden="true"></i><i ng-show="mostrarLog" class="fa fa-chevron-circle-up fa-lg"
          aria-hidden="true"></i></a>
      <hr />
    </div>
  </div>
  <div class="row">
    <div id="panelLogs" class="col-md-12 collapse">
      <br />
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{'CONTROL.INTERACTIONS' | translate}}</h3>
          </div>
          <div class="panel-body" id="containerLogs">
            <div class="{{interaccion.class}}" ng-repeat="(index, interaccion) in interacciones">
              <strong>
                {{interaccion.fecha | date:"dd/MM @ h:mm:ss a"}} {{interaccion.autor}}:
              </strong>
              <em ng-bind-html="renderHtml(interaccion.mensaje)">

              </em>
            </div>
          </div>
          <div class="panel-footer">
            <button class="btn btn-primary" ng-click="export()">{{'CONTROL.EXPORT' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2><i class="fa fa-cogs fa-lg" aria-hidden="true"></i>&nbsp;{{'CONTROL.CONTROL_SCRIPT' | translate}}</h2>
      <h3>{{textoScript}}</h3>
    </div>

    <div class="col-md-12">
      <h2><i class="fa fa-pencil fa-lg" aria-hidden="true"></i>&nbsp;{{'CONTROL.SCRIPTS' | translate}}</h2>
      <hr />
      <div class="row">
        <div class="col-md-3" ng-repeat="item in interactions">
          <button class="btn btn-lg btn-warning btn-block" type="button" ng-click="iniciarInteracciong(item._id)">
            <i class="fa fa-comments"></i>&nbsp;{{ item.nombre }}</button><br>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2><i class="fa-solid fa-store"></i>&nbsp;{{'CONTROL.STORE' | translate}}</h2>
      <hr />
      <div class="row">
        <div class="col-md-3" ng-repeat="item in apps">
          <button class="btn btn-lg btn-warning btn-block" type="button" ng-click="infoApp(item)">
            {{ item.name }}&nbsp;<i class="fa-solid fa-circle-info"></i></button><br />
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade right" id="infoApp" tabindex="-1" role="dialog" aria-labelledby="infoApp">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"> {{ appDesc.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-horizontal" role="form">
            <div class="form-group">
              <div class="col-sm-12">
                <textarea name="desc" id="desc" cols="70" rows="10" class="form-control"
                  style="resize: vertical;">{{ appDesc.description }}</textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
              class="fa-solid fa-xmark"></i></button>
          <button type="button" class="btn btn-primary" ng-click="installApp(appDesc)"><i
              class="fa-solid fa-download"></i></button>
        </div>
      </div>
    </div>
  </div>

</div>