<div class="container" ng-controller="interaccion">
  <div class="row">
    <div class="col-md-4">
      <br>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a id="inicio" href="#home" aria-controls="home" role="tab"
            data-toggle="tab" target="_blank">{{'INTERACTION.TITLE' | translate}}</a></li>
        <li role="presentation" ng-show="node.length > 0"><a href="#profile" aria-controls="profile" role="tab"
            data-toggle="tab" target="_blank">{{'INTERACTION.NODES' | translate}}</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <div class="card-body table-responsive" style="height: 575px">
            <table class="table" id="data-table-basic">
              <thead>
                <tr>
                  <th>{{'COMMON.NAME' | translate}}</th>
                  <th>{{'COMMON.OPTIONS' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="l in listado">
                  <td>{{ l.nombre }}</td>
                  <td><span class="btn btn-default" ng-click="unified(l._id)"><i class="fa fa-expand fa-sm"></i></span>
                    <span class="btn btn-default" ng-click="iniciarInteracciong(l._id)"><i
                        class="fa fa-play fa-sm"></i></span>
                    <span class="btn btn-default" ng-click="update(l)"><i class="fa fa-edit fa-sm"></i></span>
                    <span class="btn btn-default" ng-click="download(l)"><i class="fa fa-download fa-sm"></i></span>
                    <span class="btn btn-default" ng-click="delete(l._id)"><i class="fa fa-trash fa-sm"></i></span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <br />
          <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="add()"><span class="fa fa-plus-circle"></span>&nbsp;&nbsp;{{'INTERACTION.ADD_INT' | translate}}</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalimport"><span class="fa fa-upload"></span>&nbsp;&nbsp;{{'INTERACTION.IMPORT_INT' | translate}}</button>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <div class="card-body table-responsive" style="height: 575px">
            <table class="table" id="data-table-basic">
              <thead>
                <tr>
                  <th>{{'INTERACTION.NODE' | translate}}</th>
                  <th>{{'INTERACTION.TYPE' | translate}}</th>
                  <th colspan="2">{{'COMMON.OPTIONS' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="l in node">
                  <td>{{ l.name }}</td>
                  <td>{{ l.type }}</td>
                  <td><span class="btn btn-default" ng-click="updatenode(l)"><i class="fa fa-edit fa-sm"></i></span>
                  </td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-8">
      <div class="card z-depth-1">
        <div class="form-horizontal" role="form">
          <div class="card-header bgm-bluegray">
            <h2>{{ accion }} Interacci&oacute;n <small></small></h2>
          </div>
          <div class="card-body card-padding">
            <div class="form-group">
              <label class="col-sm-2 control-label">{{'COMMON.NAME' | translate}}</label>
              <div class="col-sm-10">
                <input type="text" class="form-control input-sm" ng-model="nombre" placeholder="Nombre">
              </div>
            </div>
            <div class="col-sm-offset-2">
              <div id="myDiagramDiv" style="border: solid 1px gray; border-radius: 1%; width:625px; height:400px">
              </div>
            </div>
            <br />
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button id="blobButton" class="btn btn-primary btn-sm">{{'INTERACTION.DOWNLOAD' | translate}}</button>
                <button type="button" ng-show="icon" class="btn btn-primary btn-sm" ng-click="create()">{{'INTERACTION.SAVE' | translate}}</button>
                <button type="button" ng-show="!icon" class="btn btn-primary btn-sm"
                  ng-click="updatesend()">{{'INTERACTION.UPDATE' | translate}}</button>
                <button type="button" ng-show="!icon" class="btn btn-primary btn-sm" ng-click="updatesend(true)">{{'INTERACTION.UPDATE_FINISH' | translate}}</button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="actualizar()">{{'INTERACTION.REFRESH' | translate}}</button>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" ng-click="showmodal('voice')">{{'INTERACTION.VOICE' | translate}}</button>
                <button type="button" class="btn btn-primary" ng-click="showmodal('speak')">{{'INTERACTION.SPEAK' | translate}}</button>
                <button type="button" class="btn btn-primary" ng-click="showmodal('listen')">{{'INTERACTION.LISTEN' | translate}}</button>
                <button type="button" class="btn btn-primary" ng-click="showmodal('emotion')">{{'INTERACTION.EMOTION' | translate}}</button>
                <button type="button" class="btn btn-primary" ng-click="showmodal('mov')">{{'INTERACTION.MOV' | translate}}</button>
                <button type="button" class="btn btn-primary" ng-click="showmodal('led')">{{'INTERACTION.LED' | translate}}</button>
                <button type="button" class="btn btn-primary" ng-click="showmodal('sound')">{{'INTERACTION.SOUND' | translate}}</button>
                <br>
                <br>
                <button type="button" class="btn btn-primary" ng-click="showmodal('for')">{{'INTERACTION.FOR' | translate}}</button>
                <button type="button" class="btn btn-primary" ng-click="showmodal('if')">{{'INTERACTION.IF' | translate}}</button>
                <button type="button" class="btn btn-primary" ng-click="showmodal('wait')">{{'INTERACTION.WAIT' | translate}}</button>
                <button type="button" class="btn btn-primary" ng-click="showmodal('int')">{{'INTERACTION.INT' | translate}}</button>
                <button type="button" class="btn btn-primary" ng-click="showmodal('script')">{{'INTERACTION.SCRIPT' | translate}}</button>
                <button type="button" class="btn btn-primary" ng-click="showmodal('counter')">{{'INTERACTION.COUNTER' | translate}}</button>
                <button type="button" class="btn btn-primary" ng-click="showmodal('api')">{{'INTERACTION.API' | translate}}</button>
                <br><br>
                <button type="button" class="btn btn-primary" ng-click="showmodal('dialogflow')">{{'INTERACTION.DIALOGFLOW' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade right" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"> {{ accion }} {{ ModalName }}</h4>
          </div>
          <div class="modal-body">
            <div class="form-horizontal" role="form">
              <div class="form-group" ng-show="node.length > 0">
                <label class="col-sm-2 control-label">{{'INTERACTION.GROUP' | translate}}</label>
                <div class="col-sm-10">
                  <select name="group" id="" ng-model="group" class="form-control">
                    <option value="" selected>{{'INTERACTION.NONE' | translate}}</option>
                    <option ng-repeat="item in node" ng-show="item.isGroup" value="{{item.key}}">
                      {{ item.name }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group" ng-show="node.length > 0 && key == 0">
                <label class="col-sm-2 control-label">{{'INTERACTION.PREVIOUS' | translate}}</label>
                <div class="col-sm-10">
                  <select name="link" id="" ng-model="link" class="form-control">
                    <option value="" selected>{{'INTERACTION.NONE' | translate}}</option>
                    <option ng-repeat="item in node" value="{{item.key}}">{{ item.name }}</option>
                  </select>
                </div>
              </div>
              <!-- Modal Emocion -->
              <div class="form-group" ng-show="modal == 'emotion'">
                <label class="col-sm-2 control-label">{{'INTERACTION.EMOTION' | translate}}</label>
                <div class="col-sm-10">
                  <select name="emotion" id="" ng-model="emotion" class="form-control">
                    <option value="ini">{{'EMOTION_TYPE.NEUTRAL' | translate}}</option>
                    <option value="joy">{{'EMOTION_TYPE.JOY' | translate}}</option>
                    <option value="surprise">{{'EMOTION_TYPE.SURPRISE' | translate}}</option>
                    <option value="sad">{{'EMOTION_TYPE.SAD' | translate}}</option>
                    <option value="anger">{{'EMOTION_TYPE.ANGER' | translate}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group" ng-show="modal == 'emotion'">
                <label class="col-sm-2 control-label">{{'INTERACTION.SPEED' | translate}}</label>
                <div class="col-sm-10">
                  <input type="number" min="0" class="form-control input-sm" ng-model="speed"
                    placeholder="{{'INTERACTION.SPEED' | translate}}">
                </div>
              </div>
              <div class="form-group" ng-show="modal == 'emotion' && emotion != 'ini' && !!emotion">
                <label class="col-sm-2 control-label">{{'INTERACTION.LEVEL' | translate}}</label>
                <label class="radio-inline col-sm-offset-1">
                  <input type="radio" name="level" id="inlineRadio1" ng-model="level" value="0"> {{'INTERACTION.ONLY_EYES' | translate}}
                </label>
                <label class="radio-inline">
                  <input type="radio" name="level" id="inlineRadio3" ng-model="level" value="2"> {{'INTERACTION.MOV' | translate}}
                </label>
                <label class="radio-inline">
                  <input type="radio" name="level" id="inlineRadio2" ng-model="level" value="-1"> {{'INTERACTION.INCREMENTAL' | translate}}
                </label>
              </div>
              <!-- Modal Emocion -->

              <!-- Modal Hablar -->
              <div class="form-group" ng-show="modal == 'speak'">
                <label class="col-sm-2 control-label">{{'INTERACTION.DIALOGUE' | translate}}</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" ng-model="texto" placeholder="{{'INTERACTION.TEXT_TO_SPEAK' | translate}}">
                  <small id="emailHelp" class="form-text text-muted">{{'INTERACTION.DIALOGUE_DESC' | translate}}</small>
                </div>
              </div>
              <!-- Modal Hablar -->

              <!-- Modal Escuchar -->
              <div class="form-group" ng-show="modal == 'listen'">
                <label class="col-sm-2 control-label">{{'INTERACTION.SERVICE' | translate}}(STT)</label>
                <div class="col-sm-10">
                  <select name="service" id="" ng-model="service" class="form-control">
                    <option value="watson">Watson</option>
                    <option value="codigo">Google</option>
                  </select>
                </div>
              </div>
              <div class="form-group" ng-show="modal == 'listen'">
                <label class="col-sm-2 control-label">{{'INTERACTION.LANGUAGE' | translate}}</label>
                <div class="col-sm-10">
                  <select name="langcode" id="" ng-model="langcode" class="form-control">
                    <option ng-repeat="item in stt" ng-show="!!item[service]" value="{{ item[service] }}">{{ item[service] }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group" ng-show="modal == 'listen'">
                <label class="col-sm-2 control-label">{{'INTERACTION.GET' | translate}}</label>
                <div class="col-sm-10">
                  <select name="listenopt" id="" ng-model="listenopt" class="form-control">
                    <option value="">{{'INTERACTION.ALL' | translate}}</option>
                    <option ng-repeat="item in filterslist" value="{{ item }}">{{ item }}</option>
                  </select>
                </div>
              </div>
              <!-- Modal Escuchar -->

              <!-- Modal Tiempo -->
              <div class="form-group" ng-show="modal == 'wait'">
                <label class="col-sm-2 control-label">{{'INTERACTION.TIME' | translate}} (ms)</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control input-sm" ng-model="time"
                    placeholder="{{'INTERACTION.TIME_TO_WAIT' | translate}}">
                </div>
              </div>
              <!-- Modal Tiempo -->

              <!-- Modal Ciclo -->
              <div class="form-group" ng-show="modal == 'for'">
                <label class="col-sm-2 control-label">{{'INTERACTION.ITERATIONS' | translate}}</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control input-sm" ng-model="it" placeholder="{{'INTERACTION.AMOUNT_ITERATIONS' | translate}}" min="-1">
                  <small id="emailHelp" class="form-text text-muted">{{'INTERACTION.ITERATIONS_DESC' | translate}}</small>
                </div>
              </div>
              <!-- Modal Ciclo -->

              <!-- Modal Condicion -->
              <div class="form-group" ng-show="modal == 'if'">
                <label class="col-sm-2 control-label">{{'INTERACTION.IF' | translate}}</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" ng-model="texto" ng-change="autoif()" placeholder="Condición">
                  <small id="emailHelp" class="form-text text-muted">{{'INTERACTION.IF_DESC' | translate}}</small>
                </div>
              </div>
              <div class="form-group" ng-show="modal == 'if'">
                <label class="col-sm-2 control-label">{{'INTERACTION.COMPARISON.LABEL' | translate}}</label>
                <div class="col-sm-10">
                  <select name="ifopt" id="" ng-model="ifopt" class="form-control">
                    <option value="4">{{'INTERACTION.COMPARISON.EXACT' | translate}}</option>
                    <option value="3">{{'INTERACTION.COMPARISON.PHONETIC' | translate}}</option>
                    <option value="2">{{'INTERACTION.COMPARISON.INCLUDE' | translate}}</option>
                    <option value="5">{{'INTERACTION.COMPARISON.MATH' | translate}}</option>
                  </select>
                </div>
              </div>
              <!-- Modal Condicion -->

              <!-- Modal Movimiento -->
              <div class="form-group" ng-show="modal == 'mov'">
                <label class="col-sm-2 control-label">{{'INTERACTION.MOV' | translate}}</label>
                <div class="col-sm-10">
                  <select name="nivel" id="" ng-model="movement" class="form-control">
                    <option ng-repeat="m in mov" value="{{ m.codigo }}">{{ m.nombre }}</option>
                  </select>
                </div>
              </div>
              <!-- Modal Movimiento -->

              <!-- Modal Interaccion -->
              <div class="form-group" ng-show="modal == 'int'">
                <label class="col-sm-2 control-label">{{'INTERACTION.INT' | translate}}</label>
                <div class="col-sm-10">
                  <select name="int" id="" ng-model="int" class="form-control">
                    <option ng-repeat="i in listado" value="{{i._id}}">{{ i.nombre }}</option>
                  </select>
                </div>
              </div>
              <!-- Modal Interaccion -->

              <!-- Modal Script -->
              <div class="form-group" ng-show="modal == 'script'">
                <label class="col-sm-2 control-label">{{'INTERACTION.SCRIPT' | translate}}</label>
                <div class="col-sm-10">
                  <select id="" ng-model="thescript" class="form-control">
                    <option value="" selected>{{'INTERACTION.NONE' | translate}}</option>
                    <option ng-repeat="item in slistado" value="{{item._id}}">{{ item.nombre }}</option>
                  </select>
                  <small id="emailHelp" class="form-text text-muted">{{'INTERACTION.SCRIPT_DESC' | translate}}</small>
                </div>
              </div>
              <!-- Modal Script -->

              <!-- Modal Sonidos -->
              <div class="form-group" ng-show="modal == 'sound'">
                <label class="col-sm-2 control-label">{{'INTERACTION.SOUND' | translate}}</label>
                <div class="col-sm-10">
                  <select id="" ng-model="thesound" class="form-control">
                    <option value="" selected>{{'INTERACTION.NONE' | translate}}</option>
                    <option ng-repeat="item in soundlistado" value="{{item.nombre}}">{{ item.nombre }}</option>
                  </select>
                </div>
              </div>
              <!-- Modal Sonidos -->

              <!-- Modal Leds -->
              <div class="form-group" ng-show="modal == 'led' || modal == 'sound'">
                <label class="col-sm-2 control-label">{{'INTERACTION.LED' | translate}}</label>
                <div class="col-sm-10">
                  <select name="leds" id="" ng-model="leds" class="form-control">
                    <option value="" ng-show="modal == 'sound'">{{'INTERACTION.DEFAULT' | translate}}</option>
                    <option ng-repeat="m in led" value="{{ m._id }}">{{ m.nombre }}</option>
                  </select>
                </div>
              </div>
              <!-- Modal Leds -->

              <!-- Modal Voice -->
              <div class="form-group" ng-show="modal == 'voice'">
                <label class="col-sm-2 control-label">{{'INTERACTION.VOICE' | translate}}</label>
                <div class="col-sm-10">
                  <select name="voice" id="" ng-model="voice" class="form-control">
                    <option ng-repeat="item in vlistado" value="{{item.codigo}}">{{ item.nombre + ' (' + item.idioma + ')' }}</option>
                  </select>
                </div>
              </div>
              <!-- Modal Voice -->

              <!-- Modal Counter -->
              <div class="form-group" ng-show="modal == 'counter'">
                <label class="col-sm-2 control-label">Contador</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" ng-model="cnname" ng-change="cname = ''; ops = 'assign'"
                    placeholder="{{'COMMON.NAME' | translate}}">
                </div>
              </div>
              <div class="form-group" ng-show="modal == 'counter'">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <select name="cname" id="" ng-model="cname" class="form-control" ng-change="cnname = ''">
                    <option ng-repeat="item in counters" value="{{ item }}">{{ item }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group" ng-show="modal == 'counter'">
                <label class="col-sm-2 control-label">{{'INTERACTION.COUNTER_OPTS.VALUE' | translate}}</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control input-sm" ng-model="vcounter" min="0" placeholder="0">
                </div>
              </div>
              <div class="form-group" ng-show="modal == 'counter'">
                <label class="col-sm-2 control-label">{{'INTERACTION.COUNTER_OPTS.OPERATION' | translate}}</label>
                <label class="radio-inline col-sm-offset-1">
                  <input type="radio" name="ops" id="inlineRadio4" ng-model="ops" value="sum"> {{'INTERACTION.COUNTER_OPTS.SUM' | translate}}
                </label>
                <label class="radio-inline">
                  <input type="radio" name="ops" id="inlineRadio5" ng-model="ops" value="rest"> {{'INTERACTION.COUNTER_OPTS.SUBTRACTION' | translate}}
                </label>
                <label class="radio-inline">
                  <input type="radio" name="ops" id="inlineRadio6" ng-model="ops" value="mult"> {{'INTERACTION.COUNTER_OPTS.MULTIPLICATION' | translate}}
                </label>
                <label class="radio-inline">
                  <input type="radio" name="ops" id="inlineRadio7" ng-model="ops" value="div"> {{'INTERACTION.COUNTER_OPTS.DIVISION' | translate}}
                </label>
                <label class="radio-inline">
                  <input type="radio" name="ops" id="inlineRadio7" ng-model="ops" value="assign"> {{'INTERACTION.COUNTER_OPTS.ASSIGN' | translate}}
                </label>
              </div>
              <!-- Modal Counter -->

              <!-- Modal Api -->
              <div class="form-group" ng-show="modal == 'api'">
                <label class="col-sm-2 control-label">{{'INTERACTION.API_REST.VERSION' | translate}}</label>
                <label class="radio-inline col-sm-offset-1">
                  <input type="radio" name="version" id="inlineRadio4" ng-model="version" value="http"> Http
                </label>
                <label class="radio-inline">
                  <input type="radio" name="version" id="inlineRadio5" ng-model="version" value="https"> Https
                </label>
              </div>
              <div class="form-group" ng-show="modal == 'api'">
                <label class="col-sm-2 control-label">{{'INTERACTION.API_REST.SERVER' | translate}}</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" ng-model="host" ng-change="autoversion()" placeholder="Host">
                </div>
              </div>
              <div class="form-group" ng-show="modal == 'api'">
                <label class="col-sm-2 control-label">{{'INTERACTION.API_REST.QUERY' | translate}}</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" ng-model="path" placeholder="?item=value&...">
                </div>
              </div>
              <div class="form-group" ng-show="modal == 'api'">
                <label class="col-sm-2 control-label">{{'INTERACTION.API_REST.PORT' | translate}}</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control input-sm" ng-model="port" placeholder="Puerto">
                </div>
              </div>
              <!-- Modal Api -->

              <!-- Modal Dialogflow -->
              <div class="form-group" ng-show="modal == 'dialogflow'">
                <label class="col-sm-2 control-label">{{'INTERACTION.PROYECT' | translate}}</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" ng-model="proyect" placeholder="{{'INTERACTION.PROYECT_NAME' | translate}}">
                </div>
              </div>
              <div class="form-group" ng-show="modal == 'dialogflow'">
                <label class="col-sm-2 control-label">{{'INTERACTION.DIALOGUE' | translate}}</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" ng-model="dialogparam" placeholder="$">
                </div>
              </div>
              <!-- Modal Dialogflow -->

              <!-- Modal Common -->
              <div class="form-group" ng-show="modal == 'script' || modal == 'sound' || modal == 'voice'">
                <label class="col-sm-2 control-label">{{ ncommon }}</label>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-control" ng-model="ccommon" name="rs" id="rs" />
                </div>
              </div>
              <!-- Modal Common -->

              <!-- Modal Speak -->
              <div class="form-group" ng-show="modal == 'voice' && ccommon">
                <label class="col-sm-2 control-label">{{'INTERACTION.SOURCE' | translate}}</label>
                <div class="col-sm-10">
                  <select name="cname" id="" ng-model="sourcelang" class="form-control" ng-change="cnname = ''">
                    <option ng-repeat="item in langcodelist" value="{{ item }}">{{ item.toUpperCase() }}</option>
                  </select>
                </div>
              </div>
              <!-- Modal Speak -->

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{'COMMON.CLOSE' | translate}}</button>
            <button type="button" ng-click="setnode()" class="btn btn-primary">{{'COMMON.SAVE' | translate}}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade right" id="modalimport" tabindex="-1" role="dialog" aria-labelledby="modalimport">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"> {{'INTERACTION.IMPORT_INT' | translate}}</h4>
          </div>
          <div class="modal-body">
            <div class="form-horizontal" role="form">
              <div class="form-group">
                <div class="col-sm-12">
                  <textarea name="imp" id="" cols="70" rows="20" class="form-control" style="resize: vertical;"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{'COMMON.CLOSE' | translate}}</button>
            <button type="button" ng-click="import()" class="btn btn-primary">{{'INTERACTION.IMPORT' | translate}}</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <br>
</div>
