<div class="container" ng-controller="led">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bgm-bluegray">
                    <h2> {{'LED.TITLE' | translate}}<small>
                            <div style="float: right; font-size: 2em; color: black; margin-left: 2px;"
                                onmouseover="this.style.cursor='pointer';" ng-click="execute({ base: 'stop' })"><span
                                    class="fa fa-stop-circle-o"></span></div>
                            <a href="#" style="float: right; font-size: 2em; color: black; margin-left: 2px;"
                                data-toggle="modal" data-target="#myModal" target="_blank"><span
                                    class="fa fa-plus-circle"></span></a>
                        </small></h2>
                </div>
                <div>
                    <div id="example_wrapper" class="dataTables_wrapper">
                        <div class="dataTables_length" id="example_length">
                            <label>{{'DATATABLE.SHOW' | translate}}
                                <select name="example_length" aria-controls="example" class="" ng-model="limit"
                                    ng-change="dataTable()">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> {{'DATATABLE.ENTRIES' | translate}}</label></div>
                        <div id="example_filter" class="dataTables_filter">
                            <label>{{'DATATABLE.SEARCH' | translate}}:<input type="search" class="" placeholder="" aria-controls="example"
                                    ng-model="q" ng-change="dataTable()"></label>
                        </div>
                        <table id="example" class="display dataTable" style="width: 100%;" role="grid"
                            aria-describedby="example_info">
                            <thead>
                                <tr role="row">
                                    <th style="width: 334px;"> {{'COMMON.NAME' | translate}}</th>
                                    <th style="width: 333px;"> {{'LED.BASE' | translate}}</th>
                                    <th colspan="4" style="width: 333px;"> {{'COMMON.OPTIONS' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="l in sublist" role="row" class="{{ $even ? 'even' : 'odd'}}">
                                    <td>{{ l.nombre }}</td>
                                    <td>{{ l.base }}</td>
                                    <td><span class="btn btn-default" ng-click="execute(l)"><i
                                                class="fa fa-play fa-sm"></i></span></td>
                                    <td><span class="btn btn-default" ng-click="clone(l)"><i
                                                class="fa fa-clone fa-sm"></i></span></td>
                                    <td><span class="btn btn-default" ng-click="update(l)"><i
                                                class="fa fa-edit fa-sm"></i></span></td>
                                    <td><span class="btn btn-default" ng-click="delete(l._id)"><i
                                                class="fa fa-trash fa-sm"></i></span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1"> {{'COMMON.NAME' | translate}}</th>
                                    <th rowspan="1" colspan="1"> {{'LED.BASE' | translate}}</th>
                                    <th rowspan="1" colspan="4"> {{'COMMON.OPTIONS' | translate}}</th>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="dataTables_info" id="example_info" role="status" aria-live="polite">{{'DATATABLE.SHOWING' | translate}}
                            {{ from }} {{'DATATABLE.TO' | translate}}
                            {{ to > temp.length ? temp.length : to }} {{'DATATABLE.OF' | translate}}
                            {{ temp.length }} {{'DATATABLE.ENTRIES' | translate}}</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                            <a class="paginate_button previous {{ (page == 0) ? 'disabled' : '' }}"
                                aria-controls="example" data-dt-idx="0" tabindex="-1" id="example_previous"
                                ng-click="dataTable(-1)">{{'DATATABLE.PREVIOUS' | translate}}</a>
                            <a class="paginate_button next {{ (to >= temp.length) ? 'disabled' : '' }}" aria-controls="example" data-dt-idx="7" tabindex="0"
                                id="example_next" ng-click="dataTable(1)">{{'DATATABLE.NEXT' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Led -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ accion }} {{'LED.MODAL' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{'COMMON.NAME' | translate}}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-sm" ng-model="nombre" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{'LED.BASE' | translate}}</label>
                            <div class="col-sm-10">
                                <select name="service" id="" ng-model="base" ng-change="changeform()"
                                    class="form-control">
                                    <option ng-repeat="item in listBaseAnims" ng-if="item.name != 'stop'"
                                        value="{{ item.name }}">{{ item.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-repeat="item in params.color">
                            <label class="col-sm-2 control-label">{{'LED.COLOR' | translate}} {{ item.id }}</label>
                            <div class="col-sm-10">
                                <input type="color" class="form-control input-sm" ng-model="item.model">
                            </div>
                        </div>
                        <div class="form-group" ng-repeat="item in params.led">
                            <label class="col-sm-2 control-label">{{'LED.LED' | translate}} {{ item.id }}</label>
                            <div class="col-sm-10">
                                <select name="service" id="" ng-model="item.model" class="form-control">
                                    <option
                                        ng-repeat="value in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]"
                                        value="{{ value }}">{{ value + 1 }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-repeat="item in params.num">
                            <label class="col-sm-2 control-label">{{'LED.NUM' | translate}} {{ item.id }}</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control input-sm" ng-model="item.model" placeholder="0">
                            </div>
                        </div>
                        <div class="form-group" ng-show="params.time">
                            <label class="col-sm-2 control-label">{{'LED.TIME' | translate}}</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control input-sm" ng-model="time" placeholder="{{'LED.MS' | translate}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="clear()">{{'COMMON.CLOSE' | translate}}</button>
                    <button type="button" ng-show="icon" ng-click="create()" class="btn btn-primary">{{'COMMON.SAVE' | translate}}</button>
                    <button type="button" ng-show="!icon" ng-click="updatesend()"
                        class="btn btn-primary">{{'COMMON.UPDATE' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Led -->
</div>