<div class="container" ng-controller="qaa">
    <br>
    <div class="row">
        <div class="col-md-12">
            <p>{{ pregunta.pregunta }} - {{ pregunta.respuesta }} - {{ temp }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('holatodos')">
                <i class="fa fa-comments"></i>&nbsp; Hola a Todos</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('hola', 'l')">
                <i class="fa fa-comments"></i>&nbsp; Nombre</button>
        </div>
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-warning btn-block" type="button" ng-click="req('listen')">
                <i class="fa fa-comments"></i>&nbsp; Escuchar</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('gusto')">
                <i class="fa fa-comments"></i>&nbsp; Gusto</button>
        </div>
        <div class="col-md-offset-2 col-md-3">
            <button class="btn btn-lg btn-warning btn-block" type="button" ng-click="invertemotion()">
                <i class="fa fa-comments"></i>&nbsp; Emocional: {{ emotional }}</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('explicacion4')">
                <i class="fa fa-comments"></i>&nbsp; Explicacion</button>
        </div>
        <div class="col-md-offset-2 col-md-4">
            <input type="text" name="" class="form-control" ng-model="stext" id="">
            <button class="btn btn-lg btn-warning btn-block" type="button" ng-click="speak()">
                <i class="fa fa-comments"></i>&nbsp; Hablar</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="question()">
                <i class="fa fa-comments"></i>&nbsp; Pregunta</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="answer(2)">
                <i class="fa fa-comments"></i>&nbsp; Correcta</button>
        </div>
        <div class="col-md-offset-1 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="answer(1)">
                <i class="fa fa-comments"></i>&nbsp; Incompleta</button>
        </div>
        <div class="col-md-offset-1 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="answer(0)">
                <i class="fa fa-comments"></i>&nbsp; Parcialmente</button>
        </div>
        <div class="col-md-offset-1 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="answer(-1)">
                <i class="fa fa-comments"></i>&nbsp; Incorrecta</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="resumen()">
                <i class="fa fa-comments"></i>&nbsp; Resumen</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('otra', 'l')">
                <i class="fa fa-comments"></i>&nbsp; Otra</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('otrasi')">
                <i class="fa fa-comments"></i>&nbsp; Si</button>
        </div>
        <div class="col-md-offset-1 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('otrano')">
                <i class="fa fa-comments"></i>&nbsp; No</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('end')">
                <i class="fa fa-comments"></i>&nbsp; Despedida</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('bueno')">
                <i class="fa fa-comments"></i>&nbsp; Bueno</button>
        </div>
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('ves')">
                <i class="fa fa-comments"></i>&nbsp; Me Ves</button>
        </div>
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('escuchas')">
                <i class="fa fa-comments"></i>&nbsp; Me Escuchas</button>
        </div>
        <div class="col-md-offset-2 col-md-2">
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="req('empezar')">
                <i class="fa fa-comments"></i>&nbsp; Empezar</button>
        </div>
    </div>
    <br>
</div>