<div class="container" ng-controller="scriptdata">
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{'SCRIPT_DATA.SCRIPT' | translate}}</label>
                        <div class="col-sm-10">
                            <select name="" ng-model="script" ng-change="list()" id="" class="form-control">
                                <option ng-repeat="item in slistado" value="{{ item._id }}">{{ item.nombre }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bgm-bluegray">
                    <h2 ng-show="!!script"> {{'SCRIPT_DATA.TITLE' | translate}}<small>
                            <a href="#" style="float: right; font-size: 2em; color: black;" data-toggle="modal"
                                data-target="#myModal" target="_blank"><span class="fa fa-plus-circle"></span></a>
                        </small>
                    </h2>
                </div>
                <div>
                    <div id="example_wrapper" class="dataTables_wrapper">
                        <div class="dataTables_length" id="example_length">
                            <label>{{'DATATABLE.SHOW' | translate}}
                                <select name="example_length" aria-controls="example" class="" ng-model="limit"
                                    ng-change="dataTable()">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> {{'DATATABLE.ENTRIES' | translate}}</label></div>
                        <div id="example_filter" class="dataTables_filter">
                            <label>{{'DATATABLE.SEARCH' | translate}}:<input type="search" class="" placeholder="" aria-controls="example"
                                    ng-model="q" ng-change="dataTable()"></label>
                        </div>
                        <table id="example" class="display dataTable" style="width: 100%;" role="grid"
                            aria-describedby="example_info">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                        style="width: 225px;"> {{'SCRIPT_DATA.FIELD' | translate}} 1</th>
                                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                        style="width: 225px;"> {{'SCRIPT_DATA.FIELD' | translate}} 2</th>
                                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                        style="width: 225px;"> {{'SCRIPT_DATA.FIELD' | translate}} 3</th>
                                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                        style="width: 225px;"> {{'SCRIPT_DATA.FIELD' | translate}} 4</th>
                                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="2"
                                        style="width: 100px;">{{'COMMON.OPTIONS' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="l in sublist" role="row" class="{{ $even ? 'even' : 'odd'}}">
                                    <td>{{ l.campo1 }}</td>
                                    <td>{{ l.campo2 }}</td>
                                    <td>{{ l.campo3 }}</td>
                                    <td>{{ l.campo4 }}</td>
                                    <td><span class="btn btn-default" ng-click="update(l)"><i
                                                class="fa fa-edit fa-sm"></i></span></td>
                                    <td><span class="btn btn-default" ng-click="delete(l._id)"><i
                                                class="fa fa-trash fa-sm"></i></span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">{{'SCRIPT_DATA.FIELD' | translate}} 1</th>
                                    <th rowspan="1" colspan="1">{{'SCRIPT_DATA.FIELD' | translate}} 2</th>
                                    <th rowspan="1" colspan="1">{{'SCRIPT_DATA.FIELD' | translate}} 3</th>
                                    <th rowspan="1" colspan="1">{{'SCRIPT_DATA.FIELD' | translate}} 4</th>
                                    <th rowspan="1" colspan="2">{{'COMMON.OPTIONS' | translate}}</th>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="dataTables_info" id="example_info" role="status" aria-live="polite">{{'DATATABLE.SHOWING' | translate}}
                            {{ from }} {{'DATATABLE.TO' | translate}}
                            {{ to > temp.length ? temp.length : to }} {{'DATATABLE.OF' | translate}}
                            {{ temp.length }} {{'DATATABLE.ENTRIES' | translate}}</div>
                        <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                            <a class="paginate_button previous {{ (page == 0) ? 'disabled' : '' }}"
                                aria-controls="example" data-dt-idx="0" tabindex="-1" id="example_previous"
                                ng-click="dataTable(-1)">{{'DATATABLE.PREVIOUS' | translate}}</a>
                            <a class="paginate_button next {{ (to >= temp.length) ? 'disabled' : '' }}" aria-controls="example" data-dt-idx="7" tabindex="0"
                                id="example_next" ng-click="dataTable(1)">{{'DATATABLE.NEXT' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Script -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ accion }} {{'SCRIPT_DATA.SCRIPT' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{'SCRIPT_DATA.FIELD' | translate}} 1</label>
                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control" ng-model="c1">
                                <div class="input-group-addon" ng-click="speak(c1)"><i
                                        class="fa fa-volume-up fa-sm"></i></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{'SCRIPT_DATA.FIELD' | translate}} 2</label>
                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control" ng-model="c2">
                                <div class="input-group-addon" ng-click="speak(c2)"><i
                                        class="fa fa-volume-up fa-sm"></i></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{'SCRIPT_DATA.FIELD' | translate}} 3</label>
                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control" ng-model="c3">
                                <div class="input-group-addon" ng-click="speak(c3)"><i
                                        class="fa fa-volume-up fa-sm"></i></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{'SCRIPT_DATA.FIELD' | translate}} 4</label>
                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control" ng-model="c4">
                                <div class="input-group-addon" ng-click="speak(c4)"><i
                                        class="fa fa-volume-up fa-sm"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="clear()">{{'COMMON.CLOSE' | translate}}</button>
                    <button type="button" ng-show="icon" ng-click="create()" class="btn btn-primary">{{'COMMON.SAVE' | translate}}</button>
                    <button type="button" ng-show="!icon" ng-click="updatesend()"
                        class="btn btn-primary">{{'COMMON.UPDATE' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Script -->
</div>