<div class="container" ng-controller="woo">
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Mago de Oz</label>
                        <div class="col-sm-10">
                            <select name="" ng-model="wooid" ng-change="loadcomands()" id="" class="form-control">
                                <option ng-repeat="item in listado" value="{{ item._id }}">{{ item.nombre }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bgm-bluegray">
                    <h2 ng-show="!!script">Datos de Scripts <small>
                            <a href="#" style="float: right; font-size: 2em; color: black;" data-toggle="modal"
                                data-target="#myModal" target="_blank"><span class="fa fa-plus-circle"></span></a>
                        </small>
                    </h2>
                </div>
                <div>
                    <div id="example_wrapper" class="dataTables_wrapper">
                        <table id="example" class="display dataTable" style="width: 100%;" role="grid"
                            aria-describedby="example_info">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                        style="width: 225px;"> Nombre</th>
                                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                        style="width: 600px;"> Descripcion</th>
                                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                        style="width: 75px;"> Estado</th>
                                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="3"
                                        style="width: 100px;">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="l in commands" role="row" class="{{ $even ? 'even' : 'odd'}}">
                                    <td>{{ l.nombre }}</td>
                                    <td>{{ l.desc }}</td>
                                    <td id="{{ l.id }}" ><i class="fa fa-certificate fa-sm" aria-hidden="true" style="color: black;"></i></td>
                                    <td><span class="btn btn-default" ng-click="update(l)"><i class="fa fa-edit fa-sm"></i></span></td>
                                    <td><span class="btn btn-default" ng-click="delete(l._id)"><i class="fa fa-trash fa-sm"></i></span></td>
                                    <td><span class="btn btn-default" ng-click="execute(l)"><i class="fa fa-play fa-sm"></i></span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">Nombre</th>
                                    <th rowspan="1" colspan="1">Descripción</th>
                                    <th rowspan="1" colspan="1">Estado</th>
                                    <th rowspan="1" colspan="3">Opciones</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Script -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ accion }}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <input type="text" class="form-control" ng-model="name">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-show="icon" ng-click="create(name)" class="btn btn-primary">Salvar</button>
                    <button type="button" ng-show="!icon" ng-click="updatesend()"
                        class="btn btn-primary">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Script -->
</div>