<div class="container" ng-controller="woo">
    <br>
    <br>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Frase</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Frase personalizada!"
                                    ng-model="mensaje" ng-keydown="enviarMensaje2($event)">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"
                                        ng-click="node({ type: 'speak', text: mensaje })">Enviar&nbsp;<i
                                            class="fa fa-volume-up fa-lg" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Movimiento</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table style="margin-left: auto; margin-right: auto;">
                            <tr>
                                <td></td>
                                <td><button type="button" class="btn btn-default" ng-click="mov('u')"><i
                                            class="fa fa-arrow-up fa-2x"></i></button></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><button type="button" class="btn btn-default" ng-click="mov('l')"><i
                                            class="fa fa-arrow-left fa-2x"></i></button></td>
                                <td><button type="button" class="btn btn-default" ng-click="mov('c')"><i
                                            class="fa fa-circle fa-2x"></i></button></td>
                                <td><button type="button" class="btn btn-default" ng-click="mov('r')"><i
                                            class="fa fa-arrow-right fa-2x"></i></button></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button type="button" class="btn btn-default" ng-click="mov('d')"><i
                                            class="fa fa-arrow-down fa-2x"></i></button></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-3" ng-repeat="item in emotionsicon">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ item.name }}</h3>
                    </div>
                    <div class="panel-body">
                        <img src="{{ item.img }}"
                            style="display: block; margin-left: auto; margin-right: auto; cursor: pointer; width: 50%;"
                            ng-click="node(item)">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Mago de Oz</label>
                        <div class="col-sm-6">
                            <select name="" ng-model="wooid" ng-change="loadcomands()" id="" class="form-control">
                                <option ng-repeat="item in listado" value="{{ item._id }}">{{ item.name }}</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#wooaddid"><i
                                class="fa fa-plus"></i></button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#wooaddid"
                            ng-click="update()" ng-show="!!wooid"><i class="fa fa-edit"></i></button>
                        <button type="button" class="btn btn-default" ng-click="delete()" ng-show="!!wooid"><i
                                class="fa fa-trash"></i></button>
                        <button type="button" class="btn btn-default" ng-show="!!wooid" ng-click="updatesend(false)"><i
                                class="fa fa-cloud-upload">&nbsp;Salvar</i></button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#wooaddcs"
                            ng-show="!!wooid"><i class="fa fa-plus">&nbsp;Comando</i></button>
                    </div>
                    <div class="form-group" ng-show="!!wooid">
                        <label class="col-sm-2 control-label">Secuencia</label>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-default"
                                ng-repeat="item in tempwoo.order track by $index" disabled><i class="fa fa-action">{{
                                    item }}</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bgm-bluegray">
                    <h2 ng-show="!!script">Datos de Scripts <small>
                            <a href="#" style="float: right; font-size: 2em; color: black;" data-toggle="modal"
                                data-target="#myModal" target="_blank"><span class="fa fa-plus-circle"></span></a>
                        </small>
                    </h2>
                </div>
                <div>
                    <div id="example_wrapper" class="dataTables_wrapper">
                        <table id="example" class="display dataTable" style="width: 100%;" role="grid"
                            aria-describedby="example_info">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                        style="width: 25px;"> Tipo</th>
                                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                        style="width: 875px;"> Descripci&oacute;n</th>
                                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="3"
                                        style="width: 100px;">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="l in commands" role="row" class="{{ $even ? 'even' : 'odd'}}">
                                    <td id="{{ l.order }}" style="text-align: center;"><span style="color: black;"
                                            class="fa fa-2x {{ fa_icon(l.type) }}"></span></td>
                                    <td>{{ l.desc }}</td>
                                    <td><span class="btn btn-default" ng-click="ucommand($index)"><i
                                                class="fa fa-edit fa-sm"></i></span></td>
                                    <td><span class="btn btn-default" ng-click="cdelete($index)"><i
                                                class="fa fa-trash fa-sm"></i></span></td>
                                    <td><span class="btn btn-default" ng-click="execute(l)"><i
                                                class="fa fa-play fa-sm"></i></span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">Tipo</th>
                                    <th rowspan="1" colspan="1">Descripción</th>
                                    <th rowspan="1" colspan="3">Opciones</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Script -->
    <div class="modal fade" id="wooaddid" tabindex="-1" role="dialog" aria-labelledby="wooadd">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="wooadd">{{ accion }}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Orden</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="order"
                                    placeholder="Separados por coma">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-show="icon" ng-click="create()" class="btn btn-primary">Salvar</button>
                    <button type="button" ng-show="!icon" ng-click="updatesend(true)"
                        class="btn btn-primary">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Script -->

    <!-- Modal Script -->
    <div class="modal fade" id="wooaddcs" tabindex="-1" role="dialog" aria-labelledby="wooaddcs">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="wooadd">{{ accion }}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tipo</label>
                            <div class="col-sm-10">
                                <select name="" ng-model="tipo" id="" class="form-control">
                                    <option value="speak" selected>Hablar</option>
                                    <option value="sound">Sonido</option>
                                    <option value="led">Led</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="tipo == 'speak'">
                            <label class="col-sm-2 control-label">Texto</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="text">
                            </div>
                        </div>
                        <div class="form-group" ng-show="tipo == 'sound'">
                            <label class="col-sm-2 control-label">Audio</label>
                            <div class="col-sm-10">
                                <select name="" id="" ng-model="thesound" class="form-control">
                                    <option value="" selected>Ninguno</option>
                                    <option ng-repeat="item in soundlistado" value="{{item.nombre}}">{{ item.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="tipo == 'led'">
                            <label class="col-sm-2 control-label">Leds</label>
                            <div class="col-sm-10">
                                <select name="leds" id="" ng-model="leds" class="form-control">
                                    <option ng-repeat="m in led" value="{{ m._id }}">{{ m.nombre }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Orden</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" ng-model="corder">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-show="icon" ng-click="ccommand()" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Script -->
</div>