<div class="container" ng-controller="woo">
    <br><br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">{{'WOO.PHRASE' | translate}}</div>
                <div class="card-body">
                    <div class="row">
                        <form>
                            <div class="mb-3">
                                <!-- <label class="col-form-label">{{'WOO.VOICE' | translate}}:</label> -->
                                <select name="voice" id="" ng-model="voice" ng-change="setvoice(voice)"
                                    class="form-select">
                                    <option ng-repeat="item in vlistado" value="{{item.codigo}}">
                                        {{ item.nombre + ' (' + item.idioma + ')' }}
                                    </option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control"
                                    placeholder="{{'WOO.CUSTOM_PHRASE' | translate}}!" ng-model="mensaje"
                                    ng-keydown="enviarMensaje2($event)">
                                <button class="btn btn-outline-secondary" type="button"
                                    ng-click="node({ type: 'speak', text: mensaje })" id="button-addon2"><i
                                        class="fa fa-volume-up fa-lg" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card">
                <div class="card-header">{{'WOO.MOVEMENT' | translate}}</div>
                <div class="card-body position-relative" style="height: 120px; margin: 10px;">
                    <button type="button" class="btn btn-outline-dark position-absolute top-0 start-0"
                        ng-click="mov('q')"><i class="fa fa-arrow-up rotate-45-left"></i></button>
                    <button type="button"
                        class="btn btn-outline-dark position-absolute top-0 start-50 translate-middle-x"
                        ng-click="mov('u')"><i class="fa fa-arrow-up"></i></button>
                    <button type="button" class="btn btn-outline-dark position-absolute top-0 end-0"
                        ng-click="mov('e')"><i class="fa fa-arrow-up rotate-45-right"></i></button>

                    <button type="button"
                        class="btn btn-outline-dark position-absolute top-50 start-0 translate-middle-y"
                        ng-click="mov('l')"><i class="fa fa-arrow-left"></i></button>
                    <button type="button"
                        class="btn btn-outline-dark position-absolute top-50 start-50 translate-middle"
                        ng-click="mov('c')"><i class="fa-solid fa-arrows-to-dot"></i></button>
                    <button type="button" class="btn btn-outline-dark position-absolute top-50 end-0 translate-middle-y"
                        ng-click="mov('r')"><i class="fa fa-arrow-right"></i></button>

                    <button type="button" class="btn btn-outline-dark position-absolute bottom-0 start-0"
                        ng-click="mov('z')"><i class="fa fa-arrow-down rotate-45-right"></i></button>
                    <button type="button"
                        class="btn btn-outline-dark position-absolute bottom-0 start-50 translate-middle-x"
                        ng-click="mov('d')"><i class="fa-solid fa-arrow-down"></i></button>
                    <button type="button" class="btn btn-outline-dark position-absolute bottom-0 end-0"
                        ng-click="mov('x')"><i class="fa fa-arrow-down rotate-45-left"></i></button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <div class="card">
                <div class="card-header">{{'EMOTION_TYPE.NEUTRAL' | translate}}</div>
                <div class="card-body">
                    <span class="emojin" ng-click="emotion('ini', 0)"><i class="fa-solid fa-face-meh"></i></span>
                    <span class="emojin" ng-click="emotion('blink', 0)"><i class="fa-solid fa-face-meh"></i></span>
                    <span class="emojin" ng-click="emotion('wink', 0)"><i
                            class="fa-solid fa-face-smile-wink"></i></span>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-header">{{'EMOTION_TYPE.JOY' | translate}}</div>
                <div class="card-body">
                    <span class="emojin" ng-click="emotion('joy', 0)"><i class="fa-solid fa-face-smile"></i></span>
                    <span class="emojin" ng-click="emotion('joy', 1)"><i
                            class="fa-solid fa-face-laugh-squint"></i></span>
                    <span class="emojin" ng-click="emotion('joy', 2)"><i
                            class="fa-solid fa-face-grin-squint-tears"></i></span>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-header">{{'EMOTION_TYPE.SAD' | translate}}</div>
                <div class="card-body">
                    <span class="emojin" ng-click="emotion('sad', 0)"><i class="fa-solid fa-face-frown"></i></span>
                    <span class="emojin" ng-click="emotion('sad', 1)"><i class="fa-solid fa-face-sad-tear"></i></span>
                    <span class="emojin" ng-click="emotion('sad', 2)"><i class="fa-solid fa-face-sad-cry"></i></span>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-header">{{'EMOTION_TYPE.ANGER' | translate}}</div>
                <div class="card-body">
                    <span class="emojin" ng-click="emotion('anger', 0)"><i class="fa-solid fa-face-angry"></i></span>
                    <span class="emojin" ng-click="emotion('anger', 1)"><i class="fa-solid fa-face-angry"></i></span>
                    <span class="emojin" ng-click="emotion('anger', 2)"><i class="fa-solid fa-face-angry"></i></span>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-header">{{'EMOTION_TYPE.SURPRISE' | translate}}</div>
                <div class="card-body">
                    <span class="emojin" ng-click="emotion('surprise', 0)"><i
                            class="fa-solid fa-face-surprise"></i></span>
                    <span class="emojin" ng-click="emotion('surprise', 1)"><i
                            class="fa-solid fa-face-surprise"></i></span>
                    <span class="emojin" ng-click="emotion('surprise', 2)"><i
                            class="fa-solid fa-face-flushed"></i></span>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <form class="row gy-1 gx-2 align-items-center">
                <div class="row col-auto">
                    <label class="col-form-label col-auto">{{'WOO.WOO' | translate}}</label>
                    <div class="col-auto">
                        <select name="" ng-model="wooid" ng-change="loadcomands()" id="" class="form-select">
                            <option ng-repeat="item in listado" value="{{ item._id }}">{{ item.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#wooaddid"><i
                            class="fa fa-plus"></i></button>
                    <button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#wooaddid"
                        ng-click="update()" ng-show="!!wooid"><i class="fa fa-edit"></i></button>
                    <button type="button" class="btn btn-default" ng-click="delete()" ng-show="!!wooid"><i
                            class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-default" ng-show="!!wooid" ng-click="updatesend(false)"><i
                            class="fa fa-cloud-upload">&nbsp;{{'COMMON.SAVE' | translate}}</i></button>
                    <button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#wooaddcs"
                        ng-show="!!wooid"><i class="fa fa-plus">&nbsp;{{'WOO.COMMAND' | translate}}</i></button>
                </div>
                <div class="form-group" ng-show="!!wooid">
                    <label class="col-sm-2 control-label">{{'WOO.SEQUENCE' | translate}}</label>
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-default" ng-repeat="item in tempwoo.order track by $index"
                            disabled><i class="fa fa-action">{{
                                item }}</i></button>
                    </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card-header bgm-bluegray">
                <h2 ng-show="!!script"> {{'WOO.SCRIPT_DATA' | translate}}<small>
                        <a href="#" style="float: right; font-size: 2em; color: black;" data-bs-toggle="modal"
                            data-bs-target="#myModal" target="_blank"><span class="fa fa-plus-circle"></span></a>
                    </small>
                </h2>
            </div>
            <div class="card-body">
                <table id="example" class="table">
                    <thead>
                        <tr role="row">
                            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 25px;">
                                {{'WOO.TYPE' | translate}}</th>
                            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 875px;">
                                {{'WOO.DESCRIPTION' | translate}}</th>
                            <th tabindex="0" aria-controls="example" rowspan="1" colspan="3" style="width: 100px;">
                                {{'COMMON.OPTIONS' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="l in commands" role="row" class="{{ $even ? 'even' : 'odd'}}">
                            <td id="{{ l.order }}" style="text-align: center;"><span style="color: black;"
                                    class="fa {{ fa_icon(l.type) }}"></span></td>
                            <td>{{ l.desc }}</td>
                            <td><span class="btn btn-default" ng-click="ucommand($index)"><i
                                        class="fa fa-edit fa-sm"></i></span></td>
                            <td><span class="btn btn-default" ng-click="cdelete($index)"><i
                                        class="fa fa-trash fa-sm"></i></span></td>
                            <td><span class="btn btn-default" ng-click="execute(l)"><i
                                        class="fa fa-play fa-sm"></i></span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th rowspan="1" colspan="1">{{'WOO.TYPE' | translate}}</th>
                            <th rowspan="1" colspan="1">{{'WOO.DESCRIPTION' | translate}}</th>
                            <th rowspan="1" colspan="3">{{'COMMON.OPTIONS' | translate}}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal Script -->
    <div class="modal fade" id="wooaddid" tabindex="-1" role="dialog" aria-labelledby="wooadd">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="wooadd">{{ accion }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"></span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label class="col-form-label">{{'COMMON.NAME' | translate}}:</label>
                            <input type="text" class="form-control" ng-model="name">
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label">{{'WOO.ORDER' | translate}}:</label>
                            <input type="text" class="form-control" ng-model="order" placeholder="Separados por coma">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i
                            class="fa-solid fa-xmark"></i></button>
                    <button type="button" ng-show="icon" ng-click="create()" class="btn btn-primary"><i
                            class="fa-solid fa-floppy-disk"></i></button>
                    <button type="button" ng-show="!icon" ng-click="updatesend(true)" class="btn btn-primary"><i
                            class="fa-solid fa-floppy-disk"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Script -->

    <!-- Modal Script -->
    <div class="modal fade" id="wooaddcs" tabindex="-1" role="dialog" aria-labelledby="wooaddcs">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="wooadd">{{ accion }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"></span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label class="col-form-label">{{'WOO.TYPE' | translate}}:</label>
                            <select name="" ng-model="tipo" id="" class="form-select">
                                <option value="speak" selected>{{'WOO.SPEAK' | translate}}</option>
                                <option value="sound">{{'WOO.SOUND' | translate}}</option>
                                <option value="led">{{'WOO.LED' | translate}}</option>
                            </select>
                        </div>
                        <div class="mb-3" ng-show="tipo == 'speak'">
                            <label class="col-form-label">{{'WOO.TEXT' | translate}}:</label>
                            <input type="text" class="form-control" ng-model="text">
                        </div>
                        <div class="mb-3" ng-show="tipo == 'sound'">
                            <label class="col-form-label">{{'WOO.AUDIO' | translate}}</label>
                            <select name="" id="" ng-model="thesound" class="form-select">
                                <option value="" selected>{{'WOO.NONE' | translate}}</option>
                                <option ng-repeat=" item in soundlistado" value="{{item.nombre}}">{{ item.nombre }}
                                </option>
                            </select>
                        </div>
                        <div class="mb-3" ng-show="tipo == 'led'">
                            <label class="col-form-label">{{'WOO.LED' | translate}}</label>
                            <select name="leds" id="" ng-model="leds" class="form-select">
                                <option ng-repeat="m in led" value="{{ m._id }}">{{ m.name }}</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label">{{'WOO.ORDER' | translate}}</label>
                            <input type="number" class="form-control" ng-model="corder">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i
                            class="fa-solid fa-xmark"></i></button>
                    <button type="button" ng-show="icon" ng-click="ccommand()" class="btn btn-primary"><i
                            class="fa-solid fa-floppy-disk"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Script -->
</div>